<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Joueur</th>
        </tr>
        </thead>

        <tbody>
        {% for character in characters %}
        <tr onclick="update_input_id({{ character.id }})">
            <td>
                {{ character.name }}
            </td>
            <td>
                {% if let Some(user_name) = character.user_name %}
                {{ user_name }}
                {% else %}
                <span>Personne</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function update_input_id(new_value) {
        input_element = document.getElementById('{{ input_id_to_change }}');
        input_element.value = new_value;
        input_element.dispatchEvent(new Event('change'));
    }
</script>