<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Jeu</th>
        </tr>
        </thead>

        <tbody>
        {% for character in owned_characters %}
        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="/role_playing_games/characters/character?id={{ character.id }}">
                    {{ character.name }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="/role_playing_games/characters/character?id={{ character.id }}">
                    {% if let Some(external_logo_url) = character.game_external_logo_url %}
                    <span class="uk-visible@m uk-margin-right">{{ character.game_name }}</span>
                    <img src="{{ external_logo_url }}" class="uk-height-max-small" style="max-height:25px; width:auto;" alt="">
                    {% else %}
                    {{ character.game_name }}
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ add_new_character_button|escape("none") }}