{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2>
    Jeux de rôle
</h2>

<h3 class="uk-heading-divider">
    Mes sessions de jeu à venir
</h3>

{% if scheduled_campaign_sessions.is_empty() %}
<p>Aucune</p>
{% else %}
{{ CampaignSessionTable::from_campaign_sessions(scheduled_campaign_sessions.clone())|escape("none") }}
{% endif %}

<h3 class="uk-heading-divider">
    Mes personnages
</h3>

{{ owned_characters_block|escape("none") }}

<h3 class="uk-heading-divider">
    Mes campagnes
</h3>

{{ owned_campaigns_block|escape("none") }}

{% endblock %}