{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">

        <div class="uk-grid-small uk-flex-middle uk-margin-medium-bottom" uk-grid>
            <div class="uk-width-auto">
                <img src="{{ TeamLogo::from(team).url }}" width="75" height="75" alt="">
            </div>
            <div class="uk-width-expand">
                <h2 class="uk-margin-remove-bottom">

                    {% if edit_mode %}
                    <form method="post" autocomplete="off">
                        <input class="uk-input uk-form-width-small"
                                   name="player_number"
                                   type="number"
                                   value="{{ number }}"
                                   onchange="submit()"
                                   aria-label="">

                        <div class="uk-inline">
                            <a href="player?player_id={{ player.id }}&team_id={{ team.id }}" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></a>
                            <input class="uk-input uk-form-width-large"
                                   name="player_name"
                                   type="text"
                                   value="{{ player.name }}"
                                   placeholder="Nom du joueur..."
                                   onchange="submit()"
                                   aria-label="">
                        </div>
                    </form>
                    {% elif editable %}
                    <a class="uk-link-reset" href="player?player_id={{ player.id }}&team_id={{ team.id }}&edit=true">
                        #{{ number }} - {{ player.name }}
                    </a>
                    <a href="player?player_id={{ player.id }}&team_id={{ team.id }}&edit=true" uk-icon="icon: pencil"></a>
                    {% else %}
                    #{{ number }} - {{ player.name }}
                    {% endif %}

                </h2>
                <p class="uk-margin-remove-top">
                    <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
                        {{ team.name }}
                    </a>
                </p>
            </div>
        </div>

        <div class="uk-margin-medium-bottom">
            <h3 class="uk-heading-divider">
                Informations générales
            </h3>

            <dl class="uk-description-list">
                <dt>Coach</dt>
                <dd>{{ team.coach.name }}</dd>

                <dt>Valeur</dt>
                <dd>{{ player.value()? / 1000 }}k</dd>

                <dt>Poste</dt>
                <dd>{{ player.position.name("fr") }}</dd>
            </dl>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-divider uk-table-small">
                    <thead>
                    <tr>
                        <th uk-tooltip="title: Mouvement" class="uk-table-shrink">M</th>
                        <th uk-tooltip="title: Force" class="uk-table-shrink">F</th>
                        <th uk-tooltip="title: Agilité" class="uk-table-shrink">AG</th>
                        <th uk-tooltip="title: Capacité de Passe" class="uk-table-shrink">CP</th>
                        <th uk-tooltip="title: Armure" class="uk-table-shrink">AR</th>
                        <th>Compétences<span class="uk-visible@m"> & Traits</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{ crate::app::templates::blood_bowl::players::movement_allowance_html(player)?|escape("none") }}</td>
                        <td>{{ crate::app::templates::blood_bowl::players::strength_html(player)?|escape("none") }}</td>
                        <td>{{ crate::app::templates::blood_bowl::players::agility_html(player)?|escape("none") }}</td>
                        <td>{{ crate::app::templates::blood_bowl::players::passing_ability_html(player)?|escape("none") }}</td>
                        <td>{{ crate::app::templates::blood_bowl::players::armour_value_html(player)?|escape("none") }}</td>
                        <td>{{ crate::app::templates::blood_bowl::players::skills_names_html(player, "fr")?|escape("none") }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="uk-margin-medium-bottom">
            <h3 class="uk-heading-divider">
                Blessures
            </h3>

            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-divider uk-table-small">
                    <thead>
                    <tr>
                        <th uk-tooltip="title: Rate le Prochain Match" class="uk-table-shrink">RPM</th>
                        <th uk-tooltip="title: Nombre de Blessures Persistantes" class="uk-table-shrink">BP</th>
                        <th>Blessures actuelles</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            {% if player.miss_next_game %}
                            Oui
                            {% else %}
                            Non
                            {% endif %}
                        </td>
                        <td>{{ player.niggling_injuries_number() }}</td>
                        <td>
                            {% if player.injuries.len() > 0 %}
                            {{ player.injuries_names("fr")? }}
                            {% else %}
                            Aucune
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="uk-margin-medium-bottom">
            <h3 class="uk-heading-divider">
                Améliorations
            </h3>

            <dl class="uk-description-list">
                <dt>Points de Star Players (PSP) non utilisés</dt>
                <dd>{{ player.star_player_points }}</dd>

                <dt>1ère amélioration</dt>
                <dd>{{ player_advancements[0]|escape("none") }}</dd>

                <dt>2ème amélioration</dt>
                <dd>{{ player_advancements[1]|escape("none") }}</dd>

                <dt>3ème amélioration</dt>
                <dd>{{ player_advancements[2]|escape("none") }}</dd>

                <dt>4ème amélioration</dt>
                <dd>{{ player_advancements[3]|escape("none") }}</dd>

                <dt>5ème amélioration</dt>
                <dd>{{ player_advancements[4]|escape("none") }}</dd>

                <dt>6ème amélioration</dt>
                <dd>{{ player_advancements[5]|escape("none") }}</dd>
            </dl>
        </div>

    </div>
</div>
{% endblock %}