<div>
    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Calendrier
        </h3>

        {% for stage_schedule in schedule %}
        <h4 class="uk-heading-divider">
            {{ stage_schedule.stage.stage_name }}
        </h4>

        {% for round_schedule in stage_schedule.rounds_schedule %}
        <h5>
            {{ round_schedule.name }}
        </h5>

        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small uk-table-hover uk-table-middle">
                <thead>
                <tr>
                    <th class="uk-width-2-5">Domicile</th>
                    <th class="uk-width-1-5 uk-text-center">
                        <span>Score</span>
                        <span class="uk-visible@m"> & ELI</span>
                    </th>
                    <th class="uk-width-2-5 uk-text-right">Extérieur</th>
                </tr>
                </thead>

                <tbody>
                {% for game in round_schedule.games_schedule %}
                <tr>
                    <td class="uk-text-truncate">
                        {% if let Some(ranking_number) = game.home_ranking_number %}
                        <span class="uk-text-meta">#{{ ranking_number }} </span>
                        {% endif %}

                        {% if let Some(team) = game.home_team %}
                        <img src="{{ TeamLogo::from(*team).url }}" width="25" height="25" alt="">
                        {{ team.name }}
                        {% endif %}
                    </td>
                    <td class=" uk-text-center">
                        {% if let (Some(score), Some(casualties)) = (game.score(), game.casualties()) %}
                        <span>{{ score.0 }} - {{ score.1 }}</span>
                        <br class="uk-text-meta uk-text-small">
                        <span class="uk-text-meta uk-text-small">{{ casualties.0 }} - {{ casualties.1 }}</span>
                        {% endif %}
                    </td>
                    <td class="uk-text-truncate uk-text-right">
                        {% if let Some(ranking_number) = game.away_ranking_number %}
                        <span class="uk-text-meta">#{{ ranking_number }} </span>
                        {% endif %}

                        {% if let Some(team) = game.away_team %}
                        <img src="{{ TeamLogo::from(*team).url }}" width="25" height="25" alt="">
                        {{ team.name }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}

        {% endfor %}
    </div>
</div>