<div>
    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Classements
        </h3>

        {% for (stage_index, stage_standings) in competition_standings.stages_standings.iter().enumerate() %}

        <h4 class="uk-heading-divider">
            {{ stage_standings.stage.stage_name }}
        </h4>

        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small uk-table-hover uk-table-middle">
                <thead>
                <tr>
                    <th class="uk-table-shrink">#</th>
                    <th class="uk-table-expand">Équipe</th>

                    {% match stage_standings.stage.stage_type %}
                    {% when CompetitionStageType::Championship %}
                    <th class="uk-table-shrink" uk-tooltip="Nombre de matchs joués">J</th>
                    <th class="uk-table-shrink" uk-tooltip="Nombre de points">Pts</th>
                    <th class="uk-table-shrink" uk-tooltip="Nombre de victoires">V</th>
                    <th class="uk-table-shrink" uk-tooltip="Nombre de nuls">N</th>
                    <th class="uk-table-shrink" uk-tooltip="Nombre de défaites">D</th>
                    <th class="uk-table-shrink" uk-tooltip="Nombre de touchdowns">TD</th>
                    <th class="uk-table-shrink" uk-tooltip="Nombre d'éliminations">ELI</th>
                    {% else %}
                    {% endmatch %}
                </tr>
                </thead>

                <tbody>
                {% for competing_for_position_standings in stage_standings.standings() %}

                {% let teams_standings = competing_for_position_standings.standings() %}

                {% for team_index in 0..teams_standings.len() %}
                <tr>
                    <td>
                        {{ position_text_for_team_standings_in_stage(stage_index, competing_for_position_standings, team_index)|escape("none") }}
                    </td>

                    {% let team_standings = teams_standings[team_index] %}

                    {% if let Some(team_standings) = team_standings %}
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team_standings.team.id }}">
                            <img src="{{ TeamLogo::from(team_standings.team).url }}" width="25" height="25" alt="">
                            {{ team_standings.team.name }}
                        </a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% match stage_standings.stage.stage_type %}
                    {% when CompetitionStageType::Championship %}
                    <td class="uk-text-bold">
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.games_played() }}
                        {% endif %}
                    </td>
                    <td class="uk-text-bold">
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.points }}
                        {% endif %}
                    </td>
                    <td>
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.victories }}
                        {% endif %}
                    </td>
                    <td>
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.draws }}
                        {% endif %}
                    </td>
                    <td>
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.losses }}
                        {% endif %}
                    </td>
                    <td>
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.touchdowns }}
                        {% endif %}
                    </td>
                    <td>
                        {% if let Some(team_standings) = team_standings %}
                        {{ team_standings.casualties }}
                        {% endif %}
                    </td>
                    {% else %}
                    {% endmatch %}
                </tr>
                {% endfor %}

                {% endfor %}
                </tbody>
            </table>
        </div>

        {% endfor %}
    </div>
</div>