<div>
    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Calendrier
        </h3>

        {% for stage_schedule in schedule %}
        <h4 class="uk-heading-divider">
            {{ stage_schedule.stage.stage_name }}
        </h4>

        {% for round_schedule in stage_schedule.rounds_schedule %}
        <h5>
            {{ round_schedule.name }}
        </h5>

        {{ GamesScheduleTable::from_games_schedule(round_schedule.games_schedule.clone())|escape("none") }}

        {% endfor %}

        {% endfor %}
    </div>
</div>