{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2>
    Compétitions
</h2>

{% if competitions_in_progress.len() > 0 %}
<h3 class="uk-heading-divider">
    En cours
</h3>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-2">Nom</th>
            <th class="uk-width-1-2">Phase</th>
        </tr>
        </thead>

        <tbody>
        {% for competition in competitions_in_progress %}

        {% let competition_url = format!("competitions/competition?id={}&tab=schedule", competition.id) %}

        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.name() }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.progress_status() }}
                </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if competitions_preparing.len() > 0 %}
<h3 class="uk-heading-divider">
    En préparation
</h3>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-2">Nom</th>
            <th class="uk-width-1-2">Organisateur</th>
        </tr>
        </thead>

        <tbody>
        {% for competition in competitions_preparing %}

        {% let competition_url = format!("competitions/competition?id={}&tab=info", competition.id) %}

        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.name() }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {% if let Some(director) = competition.director %}
                    {{ director.name }}
                    {% endif %}
                </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if let Some(user_profile) = profile %}
{% include "new_competition_button.html" %}
{% endif %}

{% if competitions_closed.len() > 0 %}
<h3 class="uk-heading-divider">
    Passées
</h3>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-2">Nom</th>
            <th class="uk-width-1-2">Vainqueur</th>
        </tr>
        </thead>

        <tbody>
        {% for competition in competitions_closed %}

        {% let competition_url = format!("competitions/competition?id={}&tab=standings", competition.id) %}

        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.name() }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.progress_status() }}
                </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}