<div>
    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Informations générales
        </h3>

        <dl class="uk-description-list">
            <dt>Édition</dt>
            <dd>{{ competition.edition_number() }}</dd>

            <dt>Organisateur</dt>
            <dd>
                {% if let Some(director) = competition.director %}
                    {{ director.name }}
                {% else %}
                    -
                {% endif %}
            </dd>

            <dt>Version des règles</dt>
            <dd>{{ competition.version.type_name() }}</dd>

            <dt>Description</dt>
            <dd>
                {% if edit_mode %}
                <form method="post" autocomplete="off">
                    <div class="uk-inline">
                        <a href="{{ link_url }}" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></a>
                        <input class="uk-input uk-form-width-large"
                               name="competition_description"
                               type="text"
                               value="{{ competition.description }}"
                               placeholder="Description..."
                               onchange="submit()"
                               aria-label="">
                    </div>
                </form>

                {% elif editable %}
                <a class="uk-link-reset" href="{{ link_url }}&edit=true">
                    {{ competition.description }}
                </a>
                <a href="{{ link_url }}&edit=true" uk-icon="icon: pencil"></a>

                {% else %}
                    {{ competition.description }}
                {% endif %}
            </dd>
        </dl>
    </div>

    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Format de la compétition
        </h3>

        <ul class="uk-list uk-list-decimal">
            {% for stage in stages %}
            <li>
                <span>{{ stage.stage_name }}</span>

                {% if editable && ! competition.started %}
                <span class="uk-margin-left">
                    <button class="uk-button uk-button-link"
                            type="button"
                            uk-toggle="target: #modal-delete-stage-{{ stage.id }}">
                        <span uk-icon="icon: minus-circle"></span>
                    </button>

                    <div id="modal-delete-stage-{{ stage.id }}" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <h2 class="uk-modal-title">Suppression de la phase de compétition</h2>
                            <p>Confirmez vous la suppression de la phase : {{ stage.stage_name }} ?</p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                <button class="uk-button uk-button-danger"
                                        onclick="document.getElementById('delete_stage_form_{{ stage.id }}').submit()">
                                    Supprimer
                                </button>
                            </p>
                        </div>
                    </div>
                </span>

                <form id="delete_stage_form_{{ stage.id }}" action="./delete_stage" method="post" autocomplete="off">
                    <input name="competition_id" type="hidden" value="{{ competition.id }}">
                    <input name="stage_id" type="hidden" value="{{ stage.id }}">
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if editable && ! competition.closed %}
    <div class="uk-margin-medium-bottom">
        <button class="uk-button uk-button-primary"
                type="button"
                uk-toggle="target: #modal-add-stage">Ajouter une phase</button>

        <div id="modal-add-stage" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <h2 class="uk-modal-title">Ajout d'une phase à la compétition</h2>
                <p>Quelle type de phase voulez vous ajouter ?</p>
                <p>
                    <form id="add_stage_form" action="./add_stage" method="post" autocomplete="off">
                        <input name="competition_id" type="hidden" value="{{ competition.id }}">

                        <select name="stage_type_to_add"
                                class="uk-select uk-form-width-large"
                                aria-label="Select">

                            {% for stage_type in stage_types %}
                            <option value="{{ serde_json::to_string(&stage_type)? }}">
                                {{ stage_type.to_string() }}
                            </option>
                            {% endfor %}

                        </select>
                    </form>
                </p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                    <button class="uk-button uk-button-primary"
                            onclick="document.getElementById('add_stage_form').submit()">
                        Ajouter
                    </button>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Équipes inscrites
        </h3>

        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
                <thead>
                <tr>
                    <th uk-tooltip="Validation de l'inscription ?">VAL</th>
                    <th uk-tooltip="Numéro du tirage au sort">#</th>
                    <th>Nom</th>
                    <th>Roster</th>
                    <th uk-tooltip="Valeur d'Equipe">VE</th>
                    <th>Coach</th>

                    {% if profile.is_some() && ! competition.started %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {% for registration in teams_registrations %}

                {% let team = registration.team_summary %}
                {% let team_url = format!("../teams/team?id={}", team.id) %}

                <tr>
                    <td>
                        {% if let Some(validation) = registration.validated %}
                        {% if validation %}
                        <span uk-icon="icon: check"></span>
                        {% else %}
                        <span uk-icon="icon: close"></span>
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if let Some(team_number) = registration.team_number %}
                            {{ team_number }}
                        {% endif %}
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ team_url }}">
                            <img src="{{ TeamLogo::from(*team).url }}" width="25" height="25" alt="">
                            {{ team.name }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ team_url }}">
                            {{ team.roster.name("fr") }}

                            {% if team.version.ne(&Version::LAST_VERSION) %}
                            <span> ({{ team.version.type_name() }})</span>
                            {% endif %}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ team_url }}">
                            {{ team.value / 1000 }}k
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ team_url }}">
                            {{ team.coach_name }}
                        </a>
                    </td>

                    {% if profile.is_some() && ! competition.started %}
                    <td>
                        <div class="uk-flex-inline">
                            {% if editable %}
                            <form action="./update_team_validation" method="post" autocomplete="off">
                                <input name="competition_id" type="hidden" value="{{ competition.id }}">
                                <input name="team_id" type="hidden" value="{{ team.id }}">
                                <input name="validation" type="hidden" value="true">

                                <button class="uk-button uk-button-link">
                                    <span uk-icon="icon: check"></span>
                                </button>
                            </form>

                            <form class="uk-margin-small-left" action="./update_team_validation" method="post" autocomplete="off">
                                <input name="competition_id" type="hidden" value="{{ competition.id }}">
                                <input name="team_id" type="hidden" value="{{ team.id }}">
                                <input name="validation" type="hidden" value="false">

                                <button class="uk-button uk-button-link">
                                    <span uk-icon="icon: close"></span>
                                </button>
                            </form>
                            {% endif %}

                            {% if editable || User::optional_user_has_optional_id(profile, team.coach_id) %}
                            <form class="uk-margin-small-left" id="unregister_team_form_{{ team.id }}" action="./unregister_team" method="post" autocomplete="off">
                                <input name="competition_id" type="hidden" value="{{ competition.id }}">
                                <input name="team_to_unregistered_id" type="hidden" value="{{ team.id }}">

                                <button class="uk-button uk-button-link"
                                        type="button"
                                        uk-toggle="target: #modal-unregister-team-{{ team.id }}">
                                    <span uk-icon="icon: minus-circle"></span>
                                </button>

                                <div id="modal-unregister-team-{{ team.id }}" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                        <h2 class="uk-modal-title">Désinscription de l'équipe</h2>
                                        <p>Confirmez vous la désinscription de l'équipe : {{ team.name }} ?</p>
                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                            <button class="uk-button uk-button-danger"
                                                    onclick="document.getElementById('unregister_team_form_{{ team.id }}').submit()">
                                                Désinscrire
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </td>
                    {% endif %}
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if ! competition.started %}
    {% if let Some(user_profile) = profile %}
    <div class="uk-margin-medium-bottom">
        <form id="register_team_form" action="./register_team" method="post" autocomplete="off">
            <input name="competition_id" type="hidden" value="{{ competition.id }}">
            <input id="team_to_registered_id" name="team_to_registered_id" type="hidden">

            <button class="uk-button uk-button-primary"
                    type="button"
                    uk-toggle="target: #modal-register-team">Inscrire une équipe</button>

            <div id="modal-register-team" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <h2 class="uk-modal-title">Inscription d'une équipe</h2>
                    <p>Quelle équipe souhaitez-vous inscrire ?</p>
                    <p>{{ team_selector|escape("none") }}</p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                        <button class="uk-button uk-button-danger"
                                onclick="document.getElementById('register_team_form').submit()">
                            Inscrire
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% endif %}

    {% if deletable %}
    <div>
        <form id="delete_form" action="./delete" method="post" autocomplete="off">
            <input id="id" name="id" type="hidden" value="{{ competition.id }}">

            <button class="uk-button uk-button-danger"
                    type="button"
                    uk-toggle="target: #modal-delete">Supprimer</button>

            <div id="modal-delete" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <h2 class="uk-modal-title">Suppression de la compétition en cours</h2>
                    <p>Confirmez-vous la suppression de la compétition ?</p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                        <button class="uk-button uk-button-danger"
                                onclick="document.getElementById('delete_form').submit()">
                            Confirmer
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>