{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2>
    Compétitions
</h2>

{% if competitions_in_progress.len() > 0 %}
<h3 class="uk-heading-divider">
    En cours
</h3>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-2">Nom</th>
            <th class="uk-width-1-2">Phase</th>
        </tr>
        </thead>

        <tbody>
        {% for competition in competitions_in_progress %}

        {% let competition_url = format!("competitions/competition?id={}&tab=schedule", competition.id) %}

        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.name() }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {% if let (Some(playing_stage_name), Some(playing_round_name)) = (competition.playing_stage_name.clone(), competition.playing_round_name.clone()) %}
                    <span>{{ playing_stage_name }} - {{ playing_round_name }}</span>
                    {% else %}
                    <span>Pas encore démarré</span>
                    {% endif %}
                </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if competitions_preparing.len() > 0 %}
<h3 class="uk-heading-divider">
    En préparation
</h3>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-2">Nom</th>
            <th class="uk-width-1-2">Organisateur</th>
        </tr>
        </thead>

        <tbody>
        {% for competition in competitions_preparing %}

        {% let competition_url = format!("competitions/competition?id={}&tab=info", competition.id) %}

        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.name() }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {% if let Some(director) = competition.director %}
                    {{ director.name }}
                    {% endif %}
                </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if let Some(user_profile) = profile %}
<div class="uk-margin-top">
    <button class="uk-button uk-button-primary"
            type="button"
            uk-toggle="target: #modal-add-new">
        Créer une nouvelle compétition
    </button>

    <div id="modal-add-new" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <h2 class="uk-modal-title">Création d'une nouvelle compétition</h2>
            <p>Vous êtes sur le point de créer une nouvelle compétition.</p>
            <p>
            <form id="add_competition_form" action="/blood_bowl/competitions" method="post" autocomplete="off" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="competition_name">Quel est son nom ?</label>
                    <div class="uk-form-controls">
                        <input class="uk-input"
                               id="competition_name"
                               name="competition_name"
                               type="text"
                               placeholder="Nom de la compétition..."
                               aria-label="">
                    </div>
                </div>
            </form>
            </p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                <button class="uk-button uk-button-primary"
                        onclick="document.getElementById('add_competition_form').submit()">
                    Créer
                </button>
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if competitions_closed.len() > 0 %}
<h3 class="uk-heading-divider">
    Passées
</h3>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-2">Nom</th>
            <th class="uk-width-1-2">Vainqueur</th>
        </tr>
        </thead>

        <tbody>
        {% for competition in competitions_closed %}

        {% let competition_url = format!("competitions/competition?id={}&tab=standings", competition.id) %}

        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    {{ competition.name }} {{ competition.edition_number }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ competition_url }}">
                    A venir...
                </a>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}