<div class="uk-margin-top">
    <button class="uk-button uk-button-primary"
            type="button"
            uk-toggle="target: #modal-add-new">
        Créer une nouvelle compétition
    </button>

    <div id="modal-add-new" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <h2 class="uk-modal-title">Création d'une nouvelle compétition</h2>
            <p>Vous êtes sur le point de créer une nouvelle compétition.</p>
            <p>
            <form id="add_competition_form" action="/blood_bowl/competitions" method="post" autocomplete="off" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="competition_name">Quel est son nom ?</label>
                    <div class="uk-form-controls">
                        <input class="uk-input"
                               id="competition_name"
                               name="competition_name"
                               type="text"
                               placeholder="Nom de la compétition..."
                               aria-label="">
                    </div>
                </div>
            </form>
            </p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                <button class="uk-button uk-button-primary"
                        onclick="document.getElementById('add_competition_form').submit()">
                    Créer
                </button>
            </p>
        </div>
    </div>
</div>