<div>
    <h5>
        Classement ELO (calcul de la NAF)
    </h5>

    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-striped uk-table-small uk-table-hover uk-table-middle">
            <thead>
            <tr>
                <th class="uk-table-shrink">#</th>
                <th class="uk-table-expand">Nom</th>
                <th class="uk-table-shrink">ELO</th>
            </tr>
            </thead>

            <tbody>

            {% for (i, coach_elo) in coaches_elo_ranking.iter().enumerate() %}
            <tr>
                <td>
                    <span class="uk-text-meta">#{{ i + 1 }}</span>
                </td>

                <td class="uk-text-truncate">
                    <span>{{ coach_elo.name }}</span>
                </td>

                <td>
                    <span>{{ coach_elo.elo }}</span>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    {% if is_admin_profile %}
    <form action="statistics/regenerate_elo_ranking" method="post" autocomplete="off" class="uk-form-stacked uk-margin-medium-top">
        <button class="uk-button uk-button-primary" type="submit">
            Regénérer
        </button>
    </form>
    {% endif %}

</div>