{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2 class="uk-margin-medium-bottom">
    Statistiques
</h2>

<div class="uk-margin-medium-bottom">
    <ul class="uk-child-width-expand" uk-tab>
        <li {% if tab_name.eq("teams") %}class="uk-active"{% endif %}>
            <a href="statistics?tab_name=teams">
                Équipes
            </a>
        </li>
        <li {% if tab_name.eq("players") %}class="uk-active"{% endif %}>
            <a href="statistics?tab_name=players">
                Joueurs
            </a>
        </li>
        <li {% if tab_name.eq("coaches") %}class="uk-active"{% endif %}>
            <a href="statistics?tab_name=coaches">
                Coachs
            </a>
        </li>
    </ul>
</div>

{% if tab_name.eq("teams") %}
<div class="uk-child-width-1-2@m" uk-grid>
    {% if let Some(teams_top_statistics) = teams_top_statistics %}
    {{ teams_top_statistics|escape("none") }}
    {% endif %}
</div>
{% endif %}

{% if tab_name.eq("players") %}
<div class="uk-child-width-1-2@m" uk-grid>
    {% if let Some(players_top_statistics) = players_top_statistics %}
    {{ players_top_statistics|escape("none") }}
    {% endif %}
</div>
{% endif %}

{% if tab_name.eq("coaches") %}
<div>
    {% if let Some(coaches_elo_ranking) = coaches_elo_ranking %}
    {{ coaches_elo_ranking|escape("none") }}
    {% endif %}
</div>
{% endif %}

{% endblock %}