<div>
    <h5>
        {{ statistic_name }}
    </h5>

    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-striped uk-table-small uk-table-hover uk-table-middle">
            <thead>
            <tr>
                <th class="uk-table-shrink">#</th>
                <th class="uk-table-expand">Nom</th>
                <th class="uk-table-shrink">Stat</th>
            </tr>
            </thead>

            <tbody>

            {% for statistic_index in 0..5 %}
            <tr>
                <td>
                    <span class="uk-text-meta">#{{ statistic_index + 1 }}</span>
                </td>

                {% if let Some(statistic) = statistics.statistics_rows.get(statistic_index.clone()) %}

                {% let url = format!("{}={}&team_id={}", self.element_url, statistic.id, statistic.team_id) %}
                {% let logo_url = TeamLogo::from_url_or_roster(statistic.external_logo_url.clone(), statistic.roster.clone()).url %}

                <td class="uk-text-truncate">
                    <a class="uk-link-reset" href="{{ url }}">
                        <img src="{{ logo_url }}" width="25" height="25" alt="">
                        {{ statistic.name }}
                    </a>
                </td>
                <td>
                    {{ statistic.statistic_value }}
                </td>

                {% else %}
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>