{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">

        {% if let Some(roster) = roster %}
            {% if let Some(roster_definition) = roster.definition(version.into()) %}

        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img src="/assets/images/blood_bowl/{{ roster.type_name() }}Logo.webp" width="75" height="75" alt="">
            </div>
            <div class="uk-width-expand">
                <h2 class="uk-margin-remove-bottom">
                    {{ roster.name("fr") }}
                </h2>
                <p class="uk-margin-remove-top">
                    Catégorie {{ roster_definition.tier }}
                </p>
            </div>
        </div>

        {% if let Some(user_profile) = profile %}
        <div uk-sticky>
            <a href="" class="uk-button uk-button-primary uk-button-small">Créer une nouvelle équipe</a>
        </div>
        {% endif %}

        <div>
            <img src="/assets/images/blood_bowl/{{ roster.type_name() }}Team.jpg" alt="">
        </div>

        <h3>
            Postes
        </h3>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small">
                <thead>
                <tr>
                    <th>QTE</th>
                    <th>POSTE</th>
                    <th>COÛT</th>
                    <th>M</th>
                    <th>F</th>
                    <th>AG</th>
                    <th>CP</th>
                    <th>AR</th>
                    <th>COMPÉTENCES & TRAITS</th>
                    <th>P</th>
                    <th>S</th>
                </tr>
                </thead>

                <tbody>
                {% for position in roster_definition.positions %}

                {% if let Some(position_definition) = position.definition(Some(roster_definition.version.into())) %}
                <tr>
                    <td>0-{{ position_definition.maximum_quantity }}</td>
                    <td>{{ position.name("fr") }}</td>
                    <td>{{ position_definition.cost / 1000 }}k</td>
                    <td>{{ position_definition.movement_allowance() }}</td>
                    <td>{{ position_definition.strength() }}</td>
                    <td>{{ position_definition.agility() }}+</td>

                    {% if let Some(passing_ability) = position_definition.passing_ability() %}
                    <td>{{ passing_ability }}+</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}

                    <td>{{ position_definition.armour_value() }}+</td>
                    <td>{{ position_definition.skills_names("fr") }}</td>
                    <td>{{ position_definition.primary_skill_categories_first_letter("fr") }}</td>
                    <td>{{ position_definition.secondary_skill_categories_first_letter("fr") }}</td>
                </tr>
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>

        <h3>
            Staff
        </h3>
        <ul>
            {% for (staff, staff_price) in roster_definition.staff_prices %}
            <li>{{ staff.name("fr") }}: {{ staff_price / 1000 }}k</li>
            {% endfor %}
        </ul>

        <h3>
            Règles spéciales
        </h3>
        <ul>
            {% for special_rule in roster_definition.special_rules %}
            <li>{{ special_rule.name("fr") }}</li>
            {% endfor %}
        </ul>

            {% else %}

        <h2>
            <img src="/assets/images/blood_bowl/{{ roster.type_name() }}Logo.webp" width="100" height="100" alt="">
            {{ roster.name("fr") }}
        </h2>
        <p>
            Ce roster n'existe pas sur cette version des règles
        </p>

            {% endif %}

        {% else %}

        <h2>
            Roster introuvable
        </h2>

        {% endif %}
    </div>
</div>
{% endblock %}