{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-margin-medium-bottom">
    <h2>
        Rosters
    </h2>
</div>

<ul uk-accordion="collapsible: false">

    {% for version in versions %}
    {% if let Some(rosters) = rosters_by_version.get(version) %}
    {% if rosters.len() > 0 %}

    <li>
        <a class="uk-accordion-title" href>
            <h3 class="uk-heading-divider">
                {{ version.name("fr") }}
            </h3>
        </a>
        <div class="uk-accordion-content uk-margin-large-bottom">
            <div class="uk-grid-divider uk-child-width-1-3@m uk-grid-match" uk-grid>

                {% for roster in rosters %}
                {% if let Some(roster_definition) = roster.definition(version.clone()) %}

                <div>
                    <a class="uk-link-reset" href="./rosters/roster?version={{ roster_definition.version.type_name() }}&roster={{ roster.type_name() }}">
                        <div class="uk-grid-small uk-flex-center uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img width="40" height="40" src="/assets/images/blood_bowl/{{ roster.type_name() }}Logo.webp" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <p class="uk-margin-remove-bottom">{{ roster.name("fr") }}</p>
                                <p class="uk-text-meta uk-margin-remove-top">Catégorie {{ roster_definition.tier }}</p>
                            </div>
                        </div>
                    </a>
                </div>

                {% endif %}
                {% endfor %}

            </div>
        </div>
    </li>

    {% endif %}
    {% endif %}
    {% endfor %}

</ul>

{% endblock %}