{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block messages %}
{% if let Some(alert_message) = alert_message %}
{{ alert_message|escape("none") }}
{% endif %}
{% endblock %}

{% block body %}
<div class="uk-section"
     {% match game.status() %}
     {% when GameStatus::Scheduled %} x-data="{ tab: '' }"
     {% when GameStatus::PreGameSequence %} x-data="{ tab: 'pre_game' }"
     {% when GameStatus::GameInProgress %} x-data="{ tab: 'game' }"
     {% when GameStatus::PostGameSequence %} x-data="{ tab: 'post_game' }"
     {% else %} x-data="{ tab: 'stats' }"
     {% endmatch %}
>
    <div class="uk-container">

        <div class="uk-grid-small uk-flex-center uk-flex-middle uk-background-muted uk-margin" uk-grid>

            <div class="uk-width-1-2@m uk-margin-medium-bottom">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-1-5">
                        <img src="{{ TeamLogo::from(game.first_team).url }}" alt="">
                    </div>
                    <div class="uk-width-expand uk-text-center uk-text-right@m">
                        <p class="uk-text-lead uk-margin-remove-bottom">
                            <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ game.first_team.id }}">
                                {{ game.first_team.name }}
                            </a>
                        </p>
                        <p class="uk-margin-remove-top uk-margin-remove-bottom">{{ game.first_team.roster.name("fr") }}</p>
                        <p class="uk-margin-remove-top">{{ game.first_team.coach.name }}</p>
                    </div>
                    <div class="uk-width-1-5 uk-text-center">
                        <p class="uk-text-large uk-text-bold uk-background-secondary uk-text-muted">
                            -
                        </p>
                        <p>
                            -
                        </p>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2@m uk-margin-medium-bottom">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-1-5 uk-flex-last@m">
                        <img src="{{ TeamLogo::from(game.second_team).url }}" alt="">
                    </div>
                    <div class="uk-width-expand uk-text-center uk-text-left@m">
                        <p class="uk-text-lead uk-margin-remove-bottom">
                            <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ game.second_team.id }}">
                                {{ game.second_team.name }}
                            </a>
                        </p>
                        <p class="uk-margin-remove-top uk-margin-remove-bottom">{{ game.second_team.roster.name("fr") }}</p>
                        <p class="uk-margin-remove-top">{{ game.second_team.coach.name }}</p>
                    </div>
                    <div class="uk-width-1-5 uk-flex-first@m uk-text-center">
                        <p class="uk-text-large uk-text-bold uk-background-secondary uk-text-muted">
                            -
                        </p>
                        <p>
                            -
                        </p>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1 uk-text-center uk-text-large uk-margin">
                Exhibition
            </div>

            {% if editable %}
            <div class="uk-width-1-1 uk-text-center uk-margin">
                <form id="delete_form" action="./delete" method="post" autocomplete="off">
                    <input id="id" name="id" type="hidden" value="{{ game.id }}">

                    <button class="uk-button uk-button-danger"
                            type="button"
                            uk-toggle="target: #modal-delete">Supprimer</button>

                    <div id="modal-delete" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <h2 class="uk-modal-title">Suppression du match en cours</h2>
                            <p>Confirmez-vous la suppression du match ?</p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                <button class="uk-button uk-button-danger"
                                        onclick="document.getElementById('delete_form').submit()">
                                    Confirmer
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}

            <div class="uk-width-1-1 uk-text-center uk-text-large uk-margin">
            {% match game.status() %}
                {% when GameStatus::Scheduled %}
                    {% if editable && edit_mode %}
                    <form method="post" autocomplete="off">
                        <input name="game_id"
                               type="hidden"
                               value="{{ game.id }}">

                        <input id="game_at"
                               name="game_at"
                               type="datetime-local"
                               onchange="submit()"
                               value="{{ game_date_input }}">
                    </form>
                    {% elif editable %}
                    <a class="uk-link-reset" href="./game?id={{ game.id }}&edit_mode=true" uk-icon="icon: pencil">
                        {{ game_date }}
                    </a>
                    {% else %}
                        {{ game_date }}
                    {% endif %}

                    {% if editable %}
                    <form method="post" autocomplete="off">
                        <input name="game_id"
                               type="hidden"
                               value="{{ game.id }}">

                        <input name="started_at"
                               type="hidden"
                               value="{{ game_date_input }}">

                        <br>

                        <button class="uk-button uk-button-primary">
                            Démarrer le match
                        </button>
                    </form>
                    {% endif %}

                {% else %}
                    {{ game_date }}
            {% endmatch %}
                <br>
                <span class="uk-text-default">{{ game_status }}</span>
            </div>

        </div>

        <div class="uk-width-1-1">
            <ul  class="uk-child-width-expand" uk-tab>
                <li x-bind:class="tab==='pre_game' ? 'uk-active' : ''">
                    <a href="#" uk-icon="icon: sign-in" x-on:click="tab='pre_game'">
                        <span class="uk-visible@m">Avant match</span>
                    </a>
                </li>
                <li x-bind:class="tab==='game' ? 'uk-active' : ''">
                    <a href="#" uk-icon="icon: play-circle" x-on:click="tab='game'">
                        <span class="uk-visible@m">Match</span>
                    </a>
                </li>
                <li x-bind:class="tab==='stats' ? 'uk-active' : ''">
                    <a href="#" uk-icon="icon: info" x-on:click="tab='stats'">
                        <span class="uk-visible@m">Statistiques</span>
                    </a>
                </li>
                <li x-bind:class="tab==='post_game' ? 'uk-active' : ''">
                    <a href="#" uk-icon="icon: sign-out" x-on:click="tab='post_game'">
                        <span class="uk-visible@m">Après match</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="uk-width-1-1" x-show="tab==='pre_game'">
            <div class="uk-margin-medium-top">
                <h4 class="uk-width-1-1">
                    Fans
                </h4>
                {% if let (Some(fans), Some(first_fan_factor), Some(second_fan_factor)) = (game.fans(), game.team_fan_factor(&game.first_team), game.team_fan_factor(&game.second_team)) %}
                <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                    <dl class="uk-description-list">
                        <dt>
                            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                            <span class="uk-hidden@m" uk-tooltip="title: Facteur de popularité"> FP</span>
                            <span class="uk-visible@m"> Facteur de popularité</span>
                        </dt>
                        <dd>{{ first_fan_factor }}</dd>
                    </dl>
                    <dl class="uk-description-list">
                        <dt>Fans</dt>
                        <dd>{{ fans }}</dd>
                    </dl>
                    <dl class="uk-description-list">
                        <dt>
                            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                            <span class="uk-hidden@m" uk-tooltip="title: Facteur de popularité"> FP</span>
                            <span class="uk-visible@m"> Facteur de popularité</span>
                        </dt>
                        <dd>{{ second_fan_factor }}</dd>
                    </dl>
                </div>
                {% else if editable && ! game.pre_game_sequence_is_finished() %}
                <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
                    <input name="game_id"
                           type="hidden"
                           value="{{ game.id }}">

                    <fieldset class="uk-fieldset" uk-grid>
                        <div class="uk-width-1-2">
                            <label class="uk-form-label">
                                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                                <span class="uk-text-uppercase uk-hidden@m" uk-tooltip="title: Facteur de popularité"> FP</span>
                                <span class="uk-text-uppercase uk-visible@m"> Facteur de popularité</span>
                            </label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="number" name="first_team_fan_factor" placeholder="D3 + fans dévoués" aria-label="">
                            </div>
                        </div>

                        <div class="uk-width-1-2">
                            <label class="uk-form-label">
                                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                                <span class="uk-text-uppercase uk-hidden@m" uk-tooltip="title: Facteur de popularité"> FP</span>
                                <span class="uk-text-uppercase uk-visible@m"> Facteur de popularité</span>
                            </label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="number" name="second_team_fan_factor" placeholder="D3 + fans dévoués" aria-label="">
                            </div>
                        </div>

                        <div class="uk-width-1-1 uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                        </div>
                    </fieldset>

                    <button class="uk-button uk-button-primary">
                        Valider
                    </button>
                </form>
                {% endif %}
            </div>

            <div class="uk-margin-medium-top">
                <h4 class="uk-width-1-1">
                    Météo
                </h4>
                {% if let Some(weather) = game.weather() %}
                <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                    <div></div>
                    <p>
                        {{ weather.name("fr") }}
                    </p>
                    <div></div>
                </div>
                {% else if editable && ! game.pre_game_sequence_is_finished() %}
                <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
                    <input name="game_id"
                           type="hidden"
                           value="{{ game.id }}">

                    <fieldset class="uk-fieldset">
                        <div>
                            <select class="uk-select" name="weather" aria-label="">
                                {% for weather in Weather::options_list() %}
                                <option value="{{ weather.type_name() }}">{{ weather.name("fr") }}</option>
                                {% endfor %}}
                            </select>
                        </div>

                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                        </div>
                    </fieldset>

                    <button class="uk-button uk-button-primary">
                        Valider
                    </button>
                </form>
                {% endif %}
            </div>

            <div class="uk-margin-medium-top">
                <h4 class="uk-width-1-1">
                    Journaliers
                </h4>
                <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                    <dl class="uk-description-list">
                        <dt>
                            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                            <span> Nombre</span>
                        </dt>
                        <dd>{{ game.first_team.journeymen_number() }} / {{ game.first_team.number_of_available_players() }}</dd>
                    </dl>
                    <div></div>
                    <dl class="uk-description-list">
                        <dt>
                            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                            <span> Nombre</span>
                        </dt>
                        <dd>{{ game.second_team.journeymen_number() }} / {{ game.second_team.number_of_available_players() }}</dd>
                    </dl>
                </div>
            </div>

            <div class="uk-margin-medium-top">
                <h4 class="uk-width-1-1">
                    Coups de pouce
                </h4>
            </div>
            <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                {% if editable && ! game.pre_game_sequence_is_finished() %}
                <dl class="uk-description-list">
                    <dt>
                        <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                        <span> Trésorerie</span>
                    </dt>
                    <dd>{{ first_team_money.treasury / 1000 }}k</dd>

                    <dt>
                        <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                        <span> Petite monnaie</span>
                    </dt>
                    <dd>{{ first_team_money.petty_cash / 1000 }}k</dd>
                </dl>
                <div></div>
                <dl class="uk-description-list">
                    <dt>
                        <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                        <span> Trésorerie</span>
                    </dt>
                    <dd>{{ second_team_money.treasury / 1000 }}k</dd>

                    <dt>
                        <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                        <span> Petite monnaie</span>
                    </dt>
                    <dd>{{ second_team_money.petty_cash / 1000 }}k</dd>
                </dl>
                {% endif %}
            </div>

            <div class="uk-margin-medium-top">
                <h4 class="uk-width-1-1">
                    Prières à Nuffle
                </h4>
                <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                    <dl class="uk-description-list">
                        <dt>
                            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                            <span class="uk-hidden@m" uk-tooltip="title: Valeur d'Equipe Actuelle"> VAE</span>
                            <span class="uk-visible@m"> Valeur d'Equipe Actuelle</span>
                        </dt>
                        <dd>{{ game.first_team.current_value()? / 1000 }}k</dd>
                    </dl>
                    <div></div>
                    <dl class="uk-description-list">
                        <dt>
                            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                            <span class="uk-hidden@m" uk-tooltip="title: Valeur d'Equipe Actuelle"> VAE</span>
                            <span class="uk-visible@m"> Valeur d'Equipe Actuelle</span>
                        </dt>
                        <dd>{{ game.second_team.current_value()? / 1000 }}k</dd>
                    </dl>
                </div>
            </div>

            <div class="uk-margin-medium-top">
                <h4 class="uk-width-1-1">
                    Pile ou face pour le coup d'envoi
                </h4>

                {% if let Some(toss_winner) = game.toss_winner() %}
                <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                    <div>
                        {% if toss_winner.id.eq(game.first_team.id) %}
                        <img src="{{ TeamLogo::from(toss_winner.clone()).url }}" width="30" height="30" alt="">
                        <span> gagne le pile ou face</span>
                        {% endif %}
                    </div>
                    <div></div>
                    <div>
                        {% if toss_winner.id.eq(game.second_team.id) %}
                        <img src="{{ TeamLogo::from(toss_winner.clone()).url }}" width="30" height="30" alt="">
                        <span> gagne le pile ou face</span>
                        {% endif %}
                    </div>
                </div>
                {% else if editable && ! game.pre_game_sequence_is_finished() %}
                <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
                    <input name="game_id"
                           type="hidden"
                           value="{{ game.id }}">

                    <fieldset class="uk-fieldset">
                        <div>
                            <select class="uk-select" name="toss_winner" aria-label="">
                                <option value="{{ game.first_team.id }}">{{ game.first_team.name }}</option>
                                <option value="{{ game.second_team.id }}">{{ game.second_team.name }}</option>
                            </select>
                        </div>

                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                        </div>
                    </fieldset>

                    <button class="uk-button uk-button-primary">
                        Valider
                    </button>
                </form>
                {% endif %}

                {% if let Some(kicking_team) = game.kicking_team() %}
                <div class="uk-child-width-1-3 uk-text-center" uk-grid>
                    <div>
                        {% if kicking_team.id.eq(game.first_team.id) %}
                        <img src="{{ TeamLogo::from(kicking_team.clone()).url }}" width="30" height="30" alt="">
                        <span> botte le coup d'envoi</span>
                        {% endif %}
                    </div>
                    <div></div>
                    <div>
                        {% if kicking_team.id.eq(game.second_team.id) %}
                        <img src="{{ TeamLogo::from(kicking_team.clone()).url }}" width="30" height="30" alt="">
                        <span> botte le coup d'envoi</span>
                        {% endif %}
                    </div>
                </div>
                {% else if editable && ! game.pre_game_sequence_is_finished() %}
                <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
                    <input name="game_id"
                           type="hidden"
                           value="{{ game.id }}">

                    <div>
                        <select class="uk-select" name="kicking_team" aria-label="">
                            <option value="{{ game.first_team.id }}">{{ game.first_team.name }}</option>
                            <option value="{{ game.second_team.id }}">{{ game.second_team.name }}</option>
                        </select>
                    </div>

                    <button class="uk-button uk-button-primary uk-margin-top">
                        Valider
                    </button>
                </form>
                {% endif %}
            </div>

            {% if editable && ! game.pre_game_sequence_is_finished() %}
            <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
                <input name="game_id"
                       type="hidden"
                       value="{{ game.id }}">

                <input name="cancel_last_event"
                       type="hidden"
                       value="true">

                <button class="uk-button uk-button-danger">
                    Annuler le dernier évènement
                </button>
            </form>
            {% endif %}
        </div>

        <div class="uk-width-1-1" x-show="tab==='game'">
            {% for event in game.events %}
            <p>{{ format!("{:?}", event) }}</p>
            {% endfor %}

            {% if editable %}
            <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
                <input name="game_id"
                       type="hidden"
                       value="{{ game.id }}">

                <input name="cancel_last_event"
                       type="hidden"
                       value="true">

                <button class="uk-button uk-button-danger">
                    Annuler le dernier évènement
                </button>
            </form>
            {% endif %}
        </div>

        <div class="uk-width-1-1" x-show="tab==='stats'">
            <h4 class="uk-margin-medium-top">
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="50" height="50" alt="">
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ game.first_team.id }}">
                    {{ game.first_team.name }}
                </a>
            </h4>
            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-small">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Poste</th>
                        <th uk-tooltip="title: Passe précise receptionnée">PAS</th>
                        <th uk-tooltip="title: Lancer superbe d'un coéquipier qui a attérit sur ses pieds">LAN</th>
                        <th uk-tooltip="title: Détournement de passe">DET</th>
                        <th uk-tooltip="title: Interception">INT</th>
                        <th uk-tooltip="title: Elimination lors d'un blocage">ELI</th>
                        <th uk-tooltip="title: Touchdown">TD</th>
                        <th uk-tooltip="title: Joueur du match">JDM</th>
                        <th uk-tooltip="title: Points de Star Player">PSP</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for (number, player, player_statistics) in first_team_players_statistics %}
                    <tr>
                        <td>{{ number }}</td>
                        <td>{{ player.position.name("fr") }}</td>
                        <td>{{ player_statistics.passing_completions }}</td>
                        <td>{{ player_statistics.throwing_completions }}</td>
                        <td>{{ player_statistics.deflections }}</td>
                        <td>{{ player_statistics.interceptions }}</td>
                        <td>{{ player_statistics.casualties }}</td>
                        <td>{{ player_statistics.touchdowns }}</td>
                        <td>{{ player_statistics.most_valuable_player }}</td>
                        <td>{{ player_statistics.star_player_points }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <h4 class="uk-margin-medium-top">
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="50" height="50" alt="">
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ game.second_team.id }}">
                    {{ game.second_team.name }}
                </a>
            </h4>
            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-small">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Poste</th>
                        <th uk-tooltip="title: Passe précise receptionnée">PAS</th>
                        <th uk-tooltip="title: Lancer superbe d'un coéquipier qui a attérit sur ses pieds">LAN</th>
                        <th uk-tooltip="title: Détournement de passe">DET</th>
                        <th uk-tooltip="title: Interception">INT</th>
                        <th uk-tooltip="title: Elimination lors d'un blocage">ELI</th>
                        <th uk-tooltip="title: Touchdown">TD</th>
                        <th uk-tooltip="title: Joueur du match">JDM</th>
                        <th uk-tooltip="title: Points de Star Player">PSP</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for (number, player, player_statistics) in second_team_players_statistics %}
                    <tr>
                        <td>{{ number }}</td>
                        <td>{{ player.position.name("fr") }}</td>
                        <td>{{ player_statistics.passing_completions }}</td>
                        <td>{{ player_statistics.throwing_completions }}</td>
                        <td>{{ player_statistics.deflections }}</td>
                        <td>{{ player_statistics.interceptions }}</td>
                        <td>{{ player_statistics.casualties }}</td>
                        <td>{{ player_statistics.touchdowns }}</td>
                        <td>{{ player_statistics.most_valuable_player }}</td>
                        <td>{{ player_statistics.star_player_points }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="uk-width-1-1" x-show="tab==='post_game'">
            A venir...
        </div>

    </div>
</div>
{% endblock %}