<div>
    <a class="uk-link-reset" href="/blood_bowl/games/game?id={{ game.id }}">
        <div class="uk-grid-small uk-flex-center uk-flex-middle" uk-grid>

            <div class="uk-width-1-1 uk-text-center uk-text-meta uk-margin-remove-bottom">
                {{ game.game_at.format("%d/%m/%Y à %H:%M").to_string() }}
                - {{ game.title.clone().unwrap_or("Match amical".to_string()) }}
            </div>

            <div class="uk-width-1-2@m">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-1-5">
                        <img src="{{ TeamLogo::from(game.first_team).url }}" width="50" height="50" alt="">
                    </div>
                    <div class="uk-width-expand uk-text-center uk-text-right@m">
                        <p class="uk-margin-remove-bottom uk-text-bold">{{ game.first_team.name }}</p>
                        <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">{{ game.first_team.roster.name("fr") }}</p>
                        <p class="uk-text-meta uk-margin-remove-top">{{ game.first_team.coach_name }}</p>
                    </div>
                    <div class="uk-width-1-5 uk-text-center">
                        <p class="uk-text-large uk-text-bold uk-background-secondary uk-text-muted">
                            {% if ! game.started %}
                                -
                            {% else %}
                                {{ game.first_team_score }}
                            {% endif %}
                        </p>
                        <p>
                            {% if ! game.started %}
                                -
                            {% else %}
                                {{ game.first_team_casualties }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2@m">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-1-5 uk-flex-last@m">
                        <img src="{{ TeamLogo::from(game.second_team).url }}" width="50" height="50" alt="">
                    </div>
                    <div class="uk-width-expand uk-text-center uk-text-left@m">
                        <p class="uk-margin-remove-bottom uk-text-bold">{{ game.second_team.name }}</p>
                        <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">{{ game.second_team.roster.name("fr") }}</p>
                        <p class="uk-text-meta uk-margin-remove-top">{{ game.second_team.coach_name }}</p>
                    </div>
                    <div class="uk-width-1-5 uk-flex-first@m uk-text-center">
                        <p class="uk-text-large uk-text-bold uk-background-secondary uk-text-muted">
                            {% if ! game.started %}
                                -
                            {% else %}
                                {{ game.second_team_score }}
                            {% endif %}
                        </p>
                        <p>
                            {% if ! game.started %}
                                -
                            {% else %}
                                {{ game.second_team_casualties }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </a>
</div>