{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block messages %}
{% if let Some(alert_message) = alert_message %}
{{ alert_message|escape("none") }}
{% endif %}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">

        <div class="uk-grid-small uk-flex-center uk-flex-middle uk-background-muted uk-margin" uk-grid>

            <div class="uk-width-1-2@m">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-1-5">
                        <img src="{{ TeamLogo::from(game.first_team).url }}" alt="">
                    </div>
                    <div class="uk-width-expand uk-text-center uk-text-right@m">
                        <h2 class="uk-margin-remove-bottom">
                            <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ game.first_team.id }}">
                                {{ game.first_team.name }}
                            </a>
                        </h2>
                        <p class="uk-margin-remove-top uk-margin-remove-bottom">{{ game.first_team.roster.name("fr") }}</p>
                        <p class="uk-margin-remove-top">{{ game.first_team.coach.name }}</p>
                    </div>
                    <div class="uk-width-1-5 uk-text-center">
                        <p class="uk-text-large uk-text-bold uk-background-secondary uk-text-muted">
                            -
                        </p>
                        <p>
                            -
                        </p>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2@m">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-1-5 uk-flex-last@m">
                        <img src="{{ TeamLogo::from(game.second_team).url }}" alt="">
                    </div>
                    <div class="uk-width-expand uk-text-center uk-text-left@m">
                        <h2 class="uk-margin-remove-bottom">
                            <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ game.second_team.id }}">
                                {{ game.second_team.name }}
                            </a>
                        </h2>
                        <p class="uk-margin-remove-top uk-margin-remove-bottom">{{ game.second_team.roster.name("fr") }}</p>
                        <p class="uk-margin-remove-top">{{ game.second_team.coach.name }}</p>
                    </div>
                    <div class="uk-width-1-5 uk-flex-first@m uk-text-center">
                        <p class="uk-text-large uk-text-bold uk-background-secondary uk-text-muted">
                            -
                        </p>
                        <p>
                            -
                        </p>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1 uk-text-center uk-text-large uk-margin">
                {% if let Some(started_at) = game.started_at %}
                    {{ started_at.format("%d/%m/%Y à %H:%M").to_string() }}
                {% else %}
                    {% if editable %}
                        editable
                    {% endif %}

                    {{ game.scheduled_at.format("%d/%m/%Y à %H:%M").to_string() }}
                {% endif %}
            </div>

            <div class="uk-width-1-1 uk-text-center uk-text-large uk-margin">
                Exhibition
            </div>

        </div>

    </div>
</div>
{% endblock %}