<div>
    <h3 class="uk-margin-medium-top uk-heading-divider">
        <img src="{{ TeamLogo::from(team).url }}" width="40" height="40" alt="">
        <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
            {{ team.name }}
        </a>
    </h3>
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Poste</th>
                <th>Blessures</th>
                <th uk-tooltip="title: Passe précise receptionnée">PAS</th>
                <th uk-tooltip="title: Lancer superbe d'un coéquipier qui a attérit sur ses pieds">LAN</th>
                <th uk-tooltip="title: Détournement de passe">DET</th>
                <th uk-tooltip="title: Interception">INT</th>
                <th uk-tooltip="title: Elimination lors d'un blocage">ELI</th>
                <th uk-tooltip="title: Touchdown">TD</th>
                <th uk-tooltip="title: Joueur du match">JDM</th>
                <th uk-tooltip="title: Points de Star Player">PSP</th>
            </tr>
            </thead>

            <tbody>
            {% for (number, player, player_statistics) in players_statistics %}

            {% let team_id = team.id %}
            {% let game_id = game.id %}

            {% let added_player_url = format!("../players/added_player?player_id_in_game={}&team_id={}&game_id={}", player.id, team_id, game_id) %}

            <tr>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {{ number }}
                    </a>
                </td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {{ player.position.name("fr") }}
                    </a>
                </td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {{ game.suffered_injuries_names(team.id.clone(), player.id.clone(), "fr") }}
                    </a>
                </td>

                {% let pas = player_statistics.passing_completions.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if pas > 0 %}{{ pas }}{% endif %}
                    </a>
                </td>

                {% let thr = player_statistics.throwing_completions.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if thr > 0 %}{{ thr }}{% endif %}
                    </a>
                </td>

                {% let defl = player_statistics.deflections.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if defl > 0 %}{{ defl }}{% endif %}
                    </a>
                </td>

                {% let inte = player_statistics.interceptions.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if inte > 0 %}{{ inte }}{% endif %}
                    </a>
                </td>

                {% let cas = player_statistics.casualties.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if cas > 0 %}{{ cas }}{% endif %}
                    </a>
                </td>

                {% let td = player_statistics.touchdowns.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if td > 0 %}{{ td }}{% endif %}
                    </a>
                </td>

                {% let mvp = player_statistics.most_valuable_player.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if mvp > 0 %}{{ mvp }}{% endif %}
                    </a>
                </td>

                {% let spp = player_statistics.star_player_points.clone() %}
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ added_player_url }}">
                        {% if spp > 0 %}{{ spp }}{% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>