{% if let Some(alert_message) = alert_message %}
{{ alert_message|escape("none") }}
{% endif %}

<h3 class="uk-heading-divider">
    Résumé de l'inter-saison
</h3>

<dl class="uk-description-list">
    <dt>Valeur d'équipe après signatures</dt>
    <dd>{{ resigned_team.value()? / 1000 }}k</dd>

    <dt>Nombre de joueurs après signatures</dt>
    <dd>{{ resigned_team.number_of_players() }}</dd>

    <dt>Trésorerie restante après signatures</dt>
    <dd>
        <span>{{ resigned_team.treasury / 1000 }}k 🪙</span>
    </dd>
</dl>

{% if team_redraft.players_redrafted.len() > 0 %}
<h3 class="uk-heading-divider uk-margin-large-top">
    Joueurs qui seront resignés
</h3>

<div class="uk-overflow-auto">
    {{ players_redrafted_table()|escape("none") }}
</div>
{% endif %}

{% if team_redraft.players_not_redrafted.len() > 0 %}
<h3 class="uk-heading-divider uk-margin-large-top">
    Joueurs qui seront libérés
</h3>

<div class="uk-overflow-auto">
    {{ players_not_redrafted_table()|escape("none") }}
</div>
{% endif %}

<form method="post" autocomplete="off">
    <input id="positions_in_offseason" name="positions_in_offseason" type="hidden" value="{}">

    <h3 class="uk-heading-divider uk-margin-large-top">
        Staff à signer
    </h3>

    <ul>
        {% for staff_information in roster_definition.staff_information_sorted_by_name("fr") %}
        <li>
            <input id="{{ staff_information.staff.snake_case_type() }}_in_offseason"
                   name="{{ staff_information.staff.snake_case_type() }}_in_offseason"
                   class="uk-input"
                   style="width: 70px;"
                   type="number"
                   value="{{ team_redraft.staff_quantity_to_sign(staff_information.staff) }}"
                   min="0"
                   max="{{ staff_information.maximum }}"
                   aria-label="Input">

            <span class="uk-margin-small-left">{{ staff_information.staff.name("fr") }} </span>
            <span class="uk-text-meta">({{ staff_information.price / 1000 }}k)</span>
        </li>
        {% endfor %}
    </ul>

    <h3 class="uk-heading-divider uk-margin-large-top">
        Postes à pourvoir en plus
    </h3>

    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-striped uk-table-small">
            <thead>
            <tr>
                <th>Qte</th>
                <th>Max</th>
                <th>Poste</th>
                <th>Coût</th>
                <th>M</th>
                <th>F</th>
                <th>AG</th>
                <th>CP</th>
                <th>AR</th>
                <th>Compétences<span class="uk-visible@m"> & Traits</span></th>
                <th>P</th>
                <th>S</th>
            </tr>
            </thead>

            <tbody>
            {% for position in roster_definition.positions %}

            {% if let Some(position_definition) = position.definition(roster_definition.version.into(), team_redraft.team.roster.clone()) %}
            <tr>
                <td>
                    <input id="{{ position.type_name() }}"
                           name="{{ position.type_name() }}"
                           class="uk-input"
                           style="width: 70px;"
                           type="number"
                           value="{{ team_redraft.position_quantity_to_sign(position) }}"
                           min="0" max="{{ position_definition.maximum_quantity }}"
                           onchange="update_positions()"
                           aria-label="Input">
                </td>
                <td>/ {{ position_definition.maximum_quantity }}</td>
                <td>{{ position.name("fr") }}</td>
                <td>{{ position_definition.cost / 1000 }}k</td>
                <td>{{ crate::app::templates::blood_bowl::rosters::movement_allowance_html(position_definition)|escape("none") }}</td>
                <td>{{ crate::app::templates::blood_bowl::rosters::strength_html(position_definition)|escape("none") }}</td>
                <td>{{ crate::app::templates::blood_bowl::rosters::agility_html(position_definition)|escape("none") }}</td>
                <td>{{ crate::app::templates::blood_bowl::rosters::passing_ability_html(position_definition)|escape("none") }}</td>
                <td>{{ crate::app::templates::blood_bowl::rosters::armour_value_html(position_definition)|escape("none") }}</td>
                <td>{{ position_definition.skills_names("fr") }}</td>
                <td>{{ position_definition.primary_skill_categories_first_letter("fr") }}</td>
                <td>{{ position_definition.secondary_skill_categories_first_letter("fr") }}</td>
            </tr>
            {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>

    <button class="uk-button uk-button-primary uk-margin-top uk-margin-bottom" type="submit">
        Enregistrer
    </button>
</form>

{% if let Some(validation_modal_button) = validation_modal_button %}
{{ validation_modal_button|escape("none") }}
{% endif %}

<script>
    function update_positions() {
        var positions_in_offseason = new Map();

        {% for position in roster_definition.positions %}
        {% if let Some(position_definition) = position.definition(roster_definition.version.into(), team_redraft.team.roster.clone()) %}

        positions_in_offseason.set("{{ position.type_name() }}", Number(document.getElementById('{{ position.type_name() }}').value));

        {% endif %}
        {% endfor %}

        document.getElementById('positions_in_offseason').value = JSON.stringify(Object.fromEntries(positions_in_offseason));
    }
</script>