{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">

        <div class="uk-grid-small uk-flex-middle uk-margin-bottom" uk-grid>
            <div class="uk-width-auto">
                {% if let Some(logo) = team.external_logo_url %}
                <img src="{{ logo }}" width="75" height="75" alt="">
                {% else %}
                <img src="/assets/images/blood_bowl/{{ team.roster.type_name() }}Logo.webp" width="75" height="75" alt="">
                {% endif %}
            </div>
            <div class="uk-width-expand">
                <h2 class="uk-margin-remove-bottom">

                    {% if edit_mode %}
                        <form method="post" autocomplete="off">
                            <div class="uk-inline">
                                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: pencil"></a>
                                <input class="uk-input"
                                       name="team_name"
                                       type="text"
                                       value="{{ team.name }}"
                                       placeholder="Nom de l'équipe..."
                                       onchange="submit()"
                                       aria-label="">
                            </div>
                        </form>
                    {% else %}
                        {{ team.name }}
                    {% endif %}

                </h2>
                <p class="uk-margin-remove-top">
                    {{ team.roster.name("fr") }} (Catégorie {{ roster_definition.tier }})
                </p>
            </div>
        </div>

        <h3>
            Informations générales
        </h3>
        <ul>
            <li>
                <span>Roster: </span>
                <img src="/assets/images/blood_bowl/{{ team.roster.type_name() }}Logo.webp" width="25" height="25" alt="">
                <span class="uk-text-bold">{{ team.roster.name("fr") }} ({{ team.version.type_name() }})</span>
            </li>
            <li>
                <span>Coach: </span>
                <span class="uk-text-bold">{{ team.coach_name }}</span>
            </li>
            <li>
                <span>Fans dévoués: </span>
                <span class="uk-text-bold">{{ team.dedicated_fans }}</span>
            </li>
            <li>
                <span>Trésorerie: </span>
                <span class="uk-text-bold">{{ team.treasury }}k</span>
            </li>
            <li>
                <span>Valeur d'équipe (VE): </span>
                <span class="uk-text-bold">{{ team.value()? / 1000 }}k</span>
            </li>
            <li>
                <span>Valeur d'équipe actuelle (VEA): </span>
                <span class="uk-text-bold">{{ team.current_value()? / 1000 }}k</span>
            </li>
        </ul>

        <h3>
            Joueurs
        </h3>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Poste</th>
                    <th>M</th>
                    <th>F</th>
                    <th>AG</th>
                    <th>CP</th>
                    <th>AR</th>
                    <th>Compétences & Traits</th>
                    <th>Valeur</th>
                </tr>
                </thead>

                <tbody>
                {% for (number, player) in team.players %}

                <tr>
                    <td>
                        {% if edit_mode %}
                        <form method="post" autocomplete="off">
                            <input name="player_id" type="hidden" value="{{ player.id.unwrap() }}">

                            <div class="uk-inline">
                                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: pencil"></a>
                                <input class="uk-input"
                                       style="width: 70px;"
                                       name="player_number"
                                       type="text"
                                       value="{{ number }}"
                                       placeholder="Numéro du joueur..."
                                       onchange="submit()"
                                       aria-label="">
                            </div>
                        </form>
                        {% else %}
                            {{ number }}
                        {% endif %}
                    </td>

                    <td>
                        {% if edit_mode %}
                        <form method="post" autocomplete="off">
                            <input name="player_id" type="hidden" value="{{ player.id.unwrap() }}">

                            <div class="uk-inline">
                                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: pencil"></a>
                                <input class="uk-input uk-form-width-medium"
                                       name="player_name"
                                       type="text"
                                       value="{{ player.name }}"
                                       placeholder="Nom du joueur..."
                                       onchange="submit()"
                                       aria-label="">
                            </div>
                        </form>
                        {% else %}
                            {{ player.name }}
                        {% endif %}
                    </td>

                    <td>{{ player.position.name("fr") }}</td>
                    <td>{{ player.movement_allowance(team.roster)? }}</td>
                    <td>{{ player.strength(team.roster)? }}</td>
                    <td>{{ player.agility(team.roster)? }}+</td>

                    {% if let Some(passing_ability) = player.passing_ability(team.roster)? %}
                    <td>{{ passing_ability }}+</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}

                    <td>{{ player.armour_value(team.roster)? }}+</td>
                    <td>{{ player.skills_names(team.roster, "fr")? }}</td>
                    <td>{{ player.value(team.roster)? / 1000 }}k</td>
                </tr>

                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="10">
                        Nombre de joueurs: {{ team.number_of_players() }}
                        <br>
                        ({{ team.number_of_available_players() }} disponibles)
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <h3>
            Staff
        </h3>

        <ul>
        {% for (staff, staff_information) in roster_definition.staff_information %}
            <li>
                <span>{{ staff.name("fr") }} ({{ staff_information.price / 1000 }}k): </span>
                <span class="uk-text-bold">{{ team.staff_quantity(staff) }}</span>
            </li>
        {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}