<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Roster</th>
            <th uk-tooltip="Valeur d'Equipe">VE</th>
            <th uk-tooltip="Valeur d'Equipe Actuelle">VEA</th>
            <th>Coach</th>
        </tr>
        </thead>

        {% for team in teams %}
        <tr onclick="update_input_id({{ team.id }})">
            <td>
                <img src="{{ TeamLogo::from(*team).url }}" width="25" height="25" alt="">
                {{ team.name }}
            </td>
            <td>
                {{ team.roster.name("fr") }}

                {% if team.version.ne(&Version::LAST_VERSION) %}
                <span> ({{ team.version.type_name() }})</span>
                {% endif %}
            </td>
            <td>
                {{ team.value / 1000 }}k
            </td>
            <td>
                {{ team.current_value / 1000 }}k
            </td>

            <td>
                {{ team.coach_name }}
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
<script>
    function update_input_id(new_value) {
        input_element = document.getElementById('{{ input_id_to_change }}');
        input_element.value = new_value;
        input_element.dispatchEvent(new Event('change'));
    }
</script>