<div uk-grid>
    <div class="uk-width-3-4@m uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Informations générales
        </h3>

        <div uk-grid>
            <dl class="uk-description-list uk-width-1-3@m">
                <dt>Coach</dt>
                <dd>{{ team.coach.name }}</dd>

                <dt>Catégorie du roster</dt>
                <dd>{{ roster_definition.tier }}</dd>

                <dt>Valeur d'équipe (VE)</dt>
                <dd>{{ team.value()? / 1000 }}k</dd>

                <dt>Valeur d'équipe actuelle (VEA)</dt>
                <dd>{{ team.current_value()? / 1000 }}k</dd>
            </dl>

            <dl class="uk-description-list uk-width-2-3@m">
                <dt>Fans dévoués</dt>
                <dd>{{ team.dedicated_fans }}</dd>

                <dt>Trésorerie</dt>
                <dd>{{ team.treasury / 1000 }}k</dd>
            </dl>
        </div>
    </div>

    <div class="uk-width-1-4@m uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Staff
        </h3>

        <dl class="uk-description-list">
            {% for staff_information in roster_definition.staff_information_sorted_by_name("fr") %}
            <dt>{{ staff_information.staff.name("fr") }} ({{ staff_information.price(team.under_creation.clone()) / 1000 }}k)</dt>
            <dd>
                <form id="buy_{{ staff_information.staff.type_name() }}_form" method="post" autocomplete="off">
                    <input name="staff_to_buy" type="hidden" value="{{ staff_information.staff.type_name() }}">

                    <span>{{ team.staff_quantity(staff_information.staff) }}</span>

                    {% if editable && team.can_buy_staff(staff_information.staff)? %}
                    <button class="uk-button uk-button-link uk-margin-left"
                            type="button"
                            uk-toggle="target: #modal-{{ staff_information.staff.type_name() }}">
                        <span uk-icon="icon: cart"></span>
                    </button>

                    <div id="modal-{{ staff_information.staff.type_name() }}" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <h2 class="uk-modal-title">Achat de {{ staff_information.staff.lower_name("fr") }} en cours</h2>
                            <p>Confirmez-vous l'achat pour {{ staff_information.price(team.under_creation.clone()) / 1000 }}k ?</p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                <button class="uk-button uk-button-primary"
                                        onclick="document.getElementById('buy_{{ staff_information.staff.type_name() }}_form').submit()">
                                    Confirmer
                                </button>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </dd>
            {% endfor %}
        </dl>
    </div>

    <div class="uk-width-1-1@m uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Joueurs
        </h3>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
                <thead>
                <tr>
                    <th uk-tooltip="title: Numéro du joueur">#</th>
                    <th>Nom</th>
                    <th>Poste</th>
                    <th uk-tooltip="title: Mouvement">M</th>
                    <th uk-tooltip="title: Force">F</th>
                    <th uk-tooltip="title: Agilité">AG</th>
                    <th uk-tooltip="title: Capacité de Passe">CP</th>
                    <th uk-tooltip="title: Armure">AR</th>
                    <th>Compétences<span class="uk-visible@m"> & Traits</span></th>
                    <th uk-tooltip="title: Points de Star Player non utilisés">PSP</th>
                    <th uk-tooltip="title: Rate le Prochain Match">RPM</th>
                    <th uk-tooltip="title: Nombre de Blessures Persistantes">BP</th>
                    <th>Valeur</th>

                    {% if editable %}
                    <th>Renvoi</th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>

                {% for (number, player) in team.players %}

                {% let team_id = team.id %}
                {% let player_url = format!("../players/player?player_id={}&team_id={}", player.id, team_id) %}

                <tr>
                    {% if edit_mode %}
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="player_id" type="hidden" value="{{ player.id }}">

                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input"
                                       style="width: 70px;"
                                       id="player_{{ player.id }}_number"
                                       name="player_number"
                                       type="text"
                                       value="{{ number }}"
                                       placeholder="Numéro du joueur..."
                                       onchange="submit()"
                                       aria-label="">
                            </div>
                        </form>
                    </td>
                    {% elif editable %}
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="team?id={{ team.id }}&edit=true&focus=player_{{ player.id }}_number">
                            <span class="uk-text-meta">{{ number }}</span>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <span class="uk-text-meta">{{ number }}</span>
                    </td>
                    {% endif %}

                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ player.name }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ player.position.name("fr") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ crate::app::templates::blood_bowl::players::movement_allowance_html(player)?|escape("none") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ crate::app::templates::blood_bowl::players::strength_html(player)?|escape("none") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ crate::app::templates::blood_bowl::players::agility_html(player)?|escape("none") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ crate::app::templates::blood_bowl::players::passing_ability_html(player)?|escape("none") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ crate::app::templates::blood_bowl::players::armour_value_html(player)?|escape("none") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ crate::app::templates::blood_bowl::players::skills_names_html(player, "fr")?|escape("none") }}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {% if player.star_player_points > 0 %}
                            {{ player.star_player_points }}
                            {% endif %}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {% if player.miss_next_game %}
                            x
                            {% endif %}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {% if player.niggling_injuries_number() > 0 %}
                            {{ player.niggling_injuries_number() }}
                            {% endif %}
                        </a>
                    </td>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ player_url }}">
                            {{ player.value()? / 1000 }}k
                        </a>
                    </td>

                    {% if editable %}
                    <td>
                        <form id="buyout_player_form-{{ player.id }}" method="post" autocomplete="off">
                            <input name="player_id_to_buyout" type="hidden" value="{{ player.id }}">

                            <button class="uk-button uk-button-link"
                                    type="button"
                                    uk-toggle="target: #modal-buyout-player-{{ player.id }}">
                                <span uk-icon="icon: minus-circle"></span>
                            </button>

                            <div id="modal-buyout-player-{{ player.id }}" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                                    <h2 class="uk-modal-title">Renvoi de #{{ number }} {{ player.name }} - {{ player.position.name("fr") }}</h2>
                                    <p>Vous êtes sur le point de vous séparer du joueur. Confirmez-vous la fin de son contrat ?</p>
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                        <button class="uk-button uk-button-danger"
                                                onclick="document.getElementById('buyout_player_form-{{ player.id }}').submit()">
                                            Renvoyer
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </td>
                    {% endif %}
                </tr>

                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <div class="uk-margin-top">
            <dl class="uk-description-list">
                <dt>Nombre de joueurs</dt>
                <dd>{{ team.number_of_players() }}</dd>

                <dt>Nombre de joueurs disponibles pour le prochain match</dt>
                <dd>{{ team.number_of_available_players() }}</dd>
            </dl>
        </div>
    </div>

    {% if editable %}
    <div class="uk-width-1-1@m uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Recrutement
        </h3>
        <div>
            <form id="buy_player_form" method="post" autocomplete="off">
                <p>
                    Il est encore possible de recruter {{ team.remaining_available_players_number() }} joueurs dans les postes restants
                </p>
                <select id="position_to_buy"
                        name="position_to_buy"
                        class="uk-select uk-form-width-large"
                        aria-label="Select">

                    {% for (position, price, buyable) in positions_buyable %}
                    <option value="{{ position.type_name() }}"
                            {% if ! buyable %}disabled{% endif %}>
                        {{ position.name("fr") }} ({{ price / 1000 }}k)
                    </option>
                    {% endfor %}

                </select>

                {% if team.can_buy_player()? %}
                <button class="uk-button uk-button-link uk-margin-left"
                        type="button"
                        uk-toggle="target: #modal-buy-player">
                    <span uk-icon="icon: cart"></span>
                </button>

                <div id="modal-buy-player" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <h2 class="uk-modal-title">Achat de joueur en cours</h2>
                        <p>Confirmez-vous l'achat pour le poste ?</p>
                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                            <button class="uk-button uk-button-primary"
                                    onclick="document.getElementById('buy_player_form').submit()">
                                Confirmer
                            </button>
                        </p>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}

    <div class="uk-width-1-1@m uk-margin-medium-bottom">
        <h3 class="uk-heading-divider">
            Règles spéciales
        </h3>
        <ul>
            {% for special_rule in roster_definition.special_rules %}
            <li>{{ special_rule.name("fr") }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="uk-width-1-1@m uk-margin">
        {% if editable %}
        <div class="uk-flex">
            <div>
                {% if edit_mode %}
                <a href="./team?id={{ team.id }}" class="uk-button uk-button-primary">
                    Visualiser
                </a>
                {% else %}
                <a href="./team?id={{ team.id }}&edit=true" class="uk-button uk-button-primary">
                    Modifier
                </a>
                {% endif %}
            </div>

            {% if deletable %}
            <div class="uk-margin-left">
                <form id="delete_form" action="./delete" method="post" autocomplete="off">
                    <input id="id" name="id" type="hidden" value="{{ team.id }}">

                    <button class="uk-button uk-button-danger"
                            type="button"
                            uk-toggle="target: #modal-delete">Supprimer</button>

                    <div id="modal-delete" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <h2 class="uk-modal-title">Suppression de l'équipe en cours</h2>
                            <p>Confirmez-vous la suppression de l'équipe ?</p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                                <button class="uk-button uk-button-danger"
                                        onclick="document.getElementById('delete_form').submit()">
                                    Confirmer
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>