<div class="uk-card uk-card-default uk-width-expand">
    <div class="uk-card-header">
        <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img src="{{ TeamLogo::from(team).url }}" width="75" height="75" alt="">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ team.name }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        {{ team.roster.name("fr") }}

                        {% if team.version.ne(&Version::LAST_VERSION) %}
                        <span> ({{ team.version.type_name() }})</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    </div>
    {% if with_info %}
    <div class="uk-card-body">
        <dl class="uk-description-list">
            <dt>Coach</dt>
            <dd>{{ team.coach.name }}</dd>

            <dt>Valeur d'équipe (VE)</dt>
            <dd>{{ team.value()? / 1000 }}k</dd>

            <dt>Valeur d'équipe actuelle (VEA)</dt>
            <dd>{{ team.current_value()? / 1000 }}k</dd>

            <dt>Nombre de joueurs</dt>
            <dd>{{ team.number_of_players() }}</dd>

            <dt>Nombre de joueurs disponibles</dt>
            <dd>{{ team.number_of_available_players() }}</dd>
        </dl>
    </div>
    {% endif %}
</div>