{% extends "page_base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.css" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.3.8/js/dataTables.js"></script>
{% endblock %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2>
    Équipes
</h2>

<div class="uk-overflow-auto">
    <table id="teams" class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Roster</th>
            <th uk-tooltip="Valeur d'Equipe">VE</th>
            <th uk-tooltip="Valeur d'Equipe Actuelle">VEA</th>
            <th>Coach</th>
        </tr>
        </thead>

        <tbody>
        {% for team in teams %}
        <tr>
            <td class="uk-table-link" data-order="{{ team.name }}">
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
                    <img src="{{ TeamLogo::from(*team).url }}" width="25" height="25" alt="">
                    {{ team.name }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
                    {{ team.roster.name("fr") }}

                    {% if team.version.ne(&Version::LAST_VERSION) %}
                    <span class="uk-text-meta"> ({{ team.version.name("fr") }})</span>
                    {% endif %}
                </a>
            </td>
            <td class="uk-table-link" data-order="{{ team.value }}">
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
                    {{ team.value / 1000 }}k
                </a>
            </td>
            <td class="uk-table-link" data-order="{{ team.current_value }}">
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
                    {{ team.current_value / 1000 }}k
                </a>
            </td>
            <td>
                <a class="uk-link-reset" href="/blood_bowl/teams/team?id={{ team.id }}">
                    {{ team.coach_name }}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if let Some(user_profile) = profile %}
<div class="uk-margin-top">
    <a href="/blood_bowl/rosters" class="uk-button uk-button-primary">
        Créer une nouvelle équipe
    </a>
</div>
{% endif %}

<script>
    new DataTable('#teams', {
        pageLength: 10,
        lengthMenu: [10, 25, 50, 100]
    });
</script>

{% endblock %}