{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block messages %}
{% if let Some(alert_message) = alert_message %}
{{ alert_message|escape("none") }}
{% endif %}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<div x-data="{ tab: 'sheet' }">
    
    <div class="uk-grid-small uk-flex-middle uk-margin-medium-bottom" uk-grid>
        <div class="uk-width-auto">
            <img src="{{ TeamLogo::from(team).url }}" width="75" height="75" alt="">
        </div>
        <div class="uk-width-expand">
            <h2 class="uk-margin-remove-bottom">

                {% if edit_mode %}
                    <form method="post" autocomplete="off">
                        <div class="uk-inline">
                            <a href="team?id={{ team.id }}" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></a>
                            <input class="uk-input"
                                   id="team_name"
                                   name="team_name"
                                   type="text"
                                   value="{{ team.name }}"
                                   placeholder="Nom de l'équipe..."
                                   onchange="submit()"
                                   aria-label="">
                        </div>
                    </form>
                {% elif editable %}
                <a class="uk-link-reset" href="team?id={{ team.id }}&edit=true">
                    {{ team.name }}
                </a>
                <a href="team?id={{ team.id }}&edit=true" uk-icon="icon: pencil"></a>
                {% else %}
                    {{ team.name }}
                {% endif %}

            </h2>
            <p class="uk-margin-remove-top">
                <a class="uk-link-reset" href="../rosters/roster?version={{ team.version.type_name() }}&roster={{ team.roster.type_name() }}">
                    {{ team.roster.name("fr") }}

                    {% if team.version.ne(&Version::LAST_VERSION) %}
                    <span> ({{ team.version.type_name() }})</span>
                    {% endif %}
                </a>
            </p>
        </div>
    </div>

    <div class="uk-margin-medium-bottom">
        <ul class="uk-child-width-expand" uk-tab>
            <li class="uk-active">
                <a href="#" uk-icon="icon: file-text" x-on:click="tab='sheet'">
                    <span class="uk-visible@m">Feuille d'équipe</span>
                </a>
            </li>
            <li>
                <a href="#" uk-icon="icon: calendar" x-on:click="tab='results'">
                    <span class="uk-visible@m">Résultats</span>
                </a>
            </li>
            <li>
                <a href="#" uk-icon="icon: info" x-on:click="tab='stats'">
                    <span class="uk-visible@m">Statistiques</span>
                </a>
            </li>
            <li>
                <a href="#" uk-icon="icon: users" x-on:click="tab='former_players'">
                    <span class="uk-visible@m">Anciens joueurs</span>
                </a>
            </li>
        </ul>
    </div>

    <div x-show="tab==='sheet'">
        {{ sheet|escape("none") }}
    </div>

    <div x-show="tab==='results'">
        {{ results|escape("none") }}
    </div>

    <div x-show="tab==='stats'">
        {{ statistics|escape("none") }}
    </div>

    <div x-show="tab==='former_players'">
        {{ former_players|escape("none") }}
    </div>

</div>

{% if let Some(focus) = focus %}
<script>
    window.onload = function() {
        document.getElementById('{{ focus }}').focus();
    }
</script>
{% endif %}
{% endblock %}