{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2>
    Blood Bowl
</h2>

{% if playing_games.len() > 0 %}
<h3 class="uk-heading-divider">
    Matchs en cours
</h3>

<div class="uk-grid-divider uk-child-width-1-1 uk-margin-large-bottom" uk-grid>
    {% for game in playing_games %}
    {{ GameCard::get(game.clone())|escape("none") }}
    {% endfor %}
</div>
{% endif %}

<h3 class="uk-heading-divider">
    Mes matchs à venir
</h3>

{% if scheduled_games.is_empty() %}
<p>Aucun</p>
{% else %}
{{ GamesScheduleTable::from_games_summary(scheduled_games.clone())|escape("none") }}
{% endif %}

<div class="uk-margin-top">
    <a href="/blood_bowl/games/new" class="uk-button uk-button-primary">
        Créer un match amical
    </a>
</div>

<h3 class="uk-heading-divider uk-margin-large-top">
    Mes équipes
</h3>

{{ owned_teams_block|escape("none") }}

{% endblock %}