{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">
        <h2>
            Blood Bowl
        </h2>

        <h3 class="uk-heading-divider">
            Derniers matchs
        </h3>
        <p>A venir...</p>

        <div class="uk-margin-top">
            <a href="/blood_bowl/games/new" class="uk-button uk-button-primary">
                Créer un match amical
            </a>
        </div>

        <h3 class="uk-heading-divider">
            Mes équipes
        </h3>
        {{ owned_teams_block|escape("none") }}
    </div>
</div>
{% endblock %}