{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">
        <h2>
            Derniers matchs
        </h2>
        <p>A venir...</p>

        <div class="uk-margin-top">
            <a href="/blood_bowl/games/new" class="uk-button uk-button-primary">
                Créer un nouveau match
            </a>
        </div>

        <h2>
            Equipes
        </h2>
        {{ owned_teams_block|escape("none") }}
    </div>
</div>
{% endblock %}