{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}

{% if let Some(user_profile) = profile %}
<div>
    <h2>
        Bienvenue {{ user_profile.given_name }}
    </h2>

    <h3 class="uk-heading-divider">
        <a class="uk-link-reset" href="/blood_bowl">
            <span>Blood Bowl</span>
            <span uk-icon="icon: home"></span>
        </a>
    </h3>

    {% if bb_playing_games.len() > 0 %}
    <h4 class="uk-heading-divider">
        Matchs en cours
    </h4>

    <div class="uk-grid-divider uk-child-width-1-1" uk-grid>
        {% for game in bb_playing_games %}
        {{ GameCard::get(game.clone())|escape("none") }}
        {% endfor %}
    </div>
    {% endif %}

    {% if bb_scheduled_games.len() > 0 %}
    <h4 class="uk-heading-divider">
        Mes matchs à venir
    </h4>

    {{ GamesScheduleTable::from_games_summary(bb_scheduled_games.clone())|escape("none") }}
    {% endif %}

    <h3 class="uk-heading-divider">
        <a class="uk-link-reset" href="/role_playing_games">
            <span>Jeux de rôle</span>
            <span uk-icon="icon: home"></span>
        </a>
    </h3>
</div>

{% else %}
{% include "welcome.html" %}
{% endif %}

{% endblock %}