{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block body %}
<div class="uk-section">
    <div class="uk-container">
        <h1>
            Welcome !
        </h1>
        <p>
            {% if let Some(user_profile) = profile %}

            <p>
            {{ user_profile.email }}
            </p>
            <p>
                <a href="/auth/sign_out">
                    Click here to sign out!
                </a>
            </p>

            {% else %}

            <a href="{{ google_connection_url }}">
                Click here to sign into Google!
            </a>

            {% endif %}
        </p>
    </div>
</div>
{% endblock %}