<nav class="uk-navbar-container" style="background-color:#f4d494;">
    <div class="uk-container uk-container-expand">
        <div uk-navbar="mode: click">

            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle uk-navbar-toggle-animate uk-hidden@m" uk-navbar-toggle-icon href="#"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Blood Bowl</li>
                        {% if let Some(user_profile) = profile %}
                        <li><a href="/blood_bowl">Accueil</a></li>
                        {% else %}
                        {% endif %}

                        <li><a href="/blood_bowl/teams">Equipes</a></li>
                        <li><a href="/blood_bowl/games">Matchs</a></li>
                        <li><a href="/blood_bowl/competitions">Compétitions</a></li>
                        <li><a href="/blood_bowl/statistics">Statistiques</a></li>
                        <li><a href="/blood_bowl/rosters">Rosters</a></li>
                        <li><a href="/blood_bowl/stars">Stars</a></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">Jeux de rôles</li>
                        <li><a href="#">Star Wars</a></li>
                        <li><a href="#">Warhammer</a></li>
                    </ul>
                </div>

                <a class="uk-navbar-item uk-logo" href="/">
                    <img src="/assets/images/logo_horizontal.png" width="175" height="150" alt="logo">
                </a>

                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a href="#">Blood Bowl<span uk-navbar-parent-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% if let Some(user_profile) = profile %}
                                <li><a href="/blood_bowl">Accueil</a></li>
                                {% else %}
                                {% endif %}

                                <li><a href="/blood_bowl/teams">Equipes</a></li>
                                <li><a href="/blood_bowl/games">Matchs</a></li>
                                <li><a href="/blood_bowl/competitions">Compétitions</a></li>
                                <li><a href="/blood_bowl/statistics">Statistiques</a></li>
                                <li><a href="/blood_bowl/rosters">Rosters</a></li>
                                <li><a href="/blood_bowl/stars">Stars</a></li>
                            </ul>
                        </div>
                    <li>
                        <a href="#">Jeux de rôles<span uk-navbar-parent-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">Star Wars</a></li>
                                <li><a href="#">Warhammer</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="uk-navbar-right">
            {% if let Some(user_profile) = profile %}
                <div class="uk-navbar-item">
                    <img class="uk-border-pill" src="{{ user_profile.picture }}" width="50" height="50" alt="{{ user_profile.name }}">
                    <div class="uk-visible@m">
                        <span class="uk-text-emphasis">
                            {% if is_admin %}
                                (Administrateur)
                            {% else %}
                                {{ user_profile.name }}
                            {% endif %}
                        </span>
                        <br>{{ user_profile.email }}
                    </div>
                </div>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li>
                            <a href="/auth/profile">
                                <span uk-icon="icon: user"></span>Profil
                            </a>
                        </li>
                        <li>
                            <a href="/auth/sign_out">
                                <span uk-icon="icon: sign-out"></span>Se déconnecter
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a class="uk-navbar-item uk-link-reset" href="{{ google_connection_url }}">
                    <span  uk-icon="icon: sign-in"></span>
                    <div class="uk-visible@m">Se connecter</div>
                </a>
            {% endif %}
            </div>

        </div>
    </div>
</nav>