<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/assets/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/assets/js/uikit-icons.min.js"></script>
    <script src="/assets/js/htmx.min.js"></script>

    <link href="/manifest.webmanifest" rel="manifest">

    <title>{% block title %}Brouclean Fantasy Games{% endblock %}</title>

    {% block head %}{% endblock %}
</head>

<body>
{% block navbar %}{% endblock %}

{% block messages %}{% endblock %}

{% block body %}{% endblock %}
</body>

</html>
