<div>
    <div class="uk-margin-medium-top">
        {% for game_event_with_score_and_casulaties in events_sequence_with_score_and_casualties.iter().rev() %}

        {% match game_event_with_score_and_casulaties.game_event %}

        {% when GameEvent::FanFactor { team_id: team_id, fan_factor: fan_factor } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Fan factor de {{ fan_factor }}</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Fan factor de {{ fan_factor }}</span>
        </p>
        {% endif %}



        {% when GameEvent::Weather(weather) %}
        <p class="uk-text-center">
            {% match weather %}
            {% when Weather::Blizzard %}
            <span class="uk-text-large">🌨️</span>
            {% when Weather::PerfectConditions %}
            <span class="uk-text-large">⛅️</span>
            {% when Weather::PouringRain %}
            <span class="uk-text-large">🌧️</span>
            {% when Weather::SwelteringHeat %}
            <span class="uk-text-large">🌡️🌞</span>
            {% when Weather::VerySunny %}
            <span class="uk-text-large">☀️</span>
            {% endmatch %}
            <br>
            <span>Météo : {{ weather.name("fr") }}</span>
        </p>



        {% when GameEvent::Journeyman { team_id: team_id } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Ajout de journalier</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Ajout de journalier</span>
        </p>
        {% endif %}



        {% when GameEvent::BuyInducement { team_id: team_id, inducement: inducement, .. } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Achat du coup de pouce : {{ inducement.name("fr") }}</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Achat du coup de pouce : {{ inducement.name("fr") }}</span>
        </p>
        {% endif %}



        {% when GameEvent::PrayerToNuffle { team_id: team_id, prayer_to_nuffle: prayer_to_nuffle } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Prière à Nuffle : {{ prayer_to_nuffle.name("fr") }}</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Prière à Nuffle : {{ prayer_to_nuffle.name("fr") }}</span>
        </p>
        {% endif %}



        {% when GameEvent::TossWinner { team_id: team_id } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>A gagné le pile ou face</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>A gagné le pile ou face</span>
        </p>
        {% endif %}



        {% when GameEvent::KickingTeam { team_id: team_id } %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Fin de la séquence d'avant match</span>
        </h4>
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Botte le coup d'envoi</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Botte le coup d'envoi</span>
        </p>
        {% endif %}



        {% when GameEvent::Injury { team_id: team_id, player_id: player_id, injury: injury } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.first_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : {{ injury.name("fr") }}</span>
                {% endif %}
            </a>
        </p>
        {% else %}
        <p class="uk-text-right">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.second_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : {{ injury.name("fr") }}</span>
                {% endif %}
            </a>
        </p>
        {% endif %}



        {% when GameEvent::Hatred { team_id: team_id, player_id: player_id, keyword: keyword } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.first_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : Haine({{ keyword.name("fr") }})</span>
                {% endif %}
            </a>
        </p>
        {% else %}
        <p class="uk-text-right">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.second_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : Haine({{ keyword.name("fr") }})</span>
                {% endif %}
            </a>
        </p>
        {% endif %}



        {% when GameEvent::SentOff { team_id: team_id, player_id: player_id } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.first_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : Expulsé</span>
                {% endif %}
            </a>
        </p>
        {% else %}
        <p class="uk-text-right">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.second_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : Expulsé</span>
                {% endif %}
            </a>
        </p>
        {% endif %}



        {% when GameEvent::Success { team_id: team_id, player_id: player_id, success: success, star_player_points: star_player_points } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.first_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : {{ success.name("fr") }} (+{{ star_player_points }} PSP 🌟)</span>
                {% endif %}
            </a>
        </p>
        {% else %}
        <p class="uk-text-right">
            <a class="uk-link-reset" href="{{ player_in_game_url(team_id, player_id) }}">
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">

                {% if let Some((number, player)) = game.second_team.player_by_id(player_id.clone()) %}
                <span>#{{ number }} - {{ player.position.name("fr") }}</span>
                <span class="uk-visible@m"> - {{ player.name }}</span>
                <span> : {{ success.name("fr") }} (+{{ star_player_points }} PSP 🌟)</span>
                {% endif %}
            </a>
        </p>
        {% endif %}
        {% match success %}
        {% when Success::Touchdown %}
        <p class="uk-text-center">
            <span class="uk-text-large">🏉</span>
            <br>
            <span class="uk-text-bold">Touchdown !</span>
            <br>
            <span>{{ game_event_with_score_and_casulaties.score.0}} - {{ game_event_with_score_and_casulaties.score.1}}</span>
            <br>
            <span class="uk-text-meta">{{ game_event_with_score_and_casulaties.casualties.0}} - {{ game_event_with_score_and_casulaties.casualties.1}}</span>
        </p>
        {% when Success::Casualty %}
        <p class="uk-text-center">
            <span class="uk-text-large">💥</span>
            <br>
            <span class="uk-text-bold">Élimination !</span>
            <br>
            <span>{{ game_event_with_score_and_casulaties.score.0}} - {{ game_event_with_score_and_casulaties.score.1}}</span>
            <br>
            <span class="uk-text-meta">{{ game_event_with_score_and_casulaties.casualties.0}} - {{ game_event_with_score_and_casulaties.casualties.1}}</span>
        </p>
        {% else %}
        {% endmatch %}



        {% when GameEvent::HalfTime %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Mi-temps</span>
        </h4>



        {% when GameEvent::ExtraTime %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Fin du temps réglementaire</span>
        </h4>



        {% when GameEvent::Penalties { first_team_score: first_team_score, second_team_score: second_team_score } %}
        <p class="uk-text-center">
            <span class="uk-text-large">🏉</span>
            <br>
            <span class="uk-text-bold">Tirs aux buts : {{ first_team_score }} - {{ second_team_score }} </span>
        </p>



        {% when GameEvent::GameEnd %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Fin du match</span>
        </h4>



        {% when GameEvent::Winnings { team_id: team_id, earned_money: earned_money } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>{{ earned_money / 1000 }}k 🪙 gagnés</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>{{ earned_money / 1000 }}k 🪙 gagnés</span>
        </p>
        {% endif %}



        {% when GameEvent::DedicatedFansUpdate { team_id: team_id, delta: delta } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Delta de {{ delta }} en fans dévoués</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Delta de {{ delta }} en fans dévoués</span>
        </p>
        {% endif %}



        {% when GameEvent::ExpensiveMistakes { team_id: team_id, lost_money: lost_money } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            {% if lost_money.clone() > 0 %}
            <span>{{ lost_money / 1000 }}k 🪙 perdus</span>
            {% else %}
            <span>Pas de pertes</span>
            {% endif %}
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            {% if lost_money.clone() > 0 %}
            <span>{{ lost_money / 1000 }}k 🪙 perdus</span>
            {% else %}
            <span>Pas de pertes</span>
            {% endif %}
        </p>
        {% endif %}



        {% when GameEvent::GameClosure %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Fin de la séquence d'après match</span>
        </h4>



        {% when _ %}
        <p>
            {{ format!("{:?}", game_event_with_score_and_casulaties.game_event) }}
        </p>

        {% endmatch %}

        {% endfor %}
    </div>
</div>