<div>
    <div class="uk-margin-medium-top">
    {% for event in game.events.iter().rev() %}
        {% match event %}

        {% when GameEvent::FanFactor { team_id: team_id, fan_factor: fan_factor } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Fan factor de {{ fan_factor }}</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Fan factor de {{ fan_factor }}</span>
        </p>
        {% endif %}



        {% when GameEvent::Weather(weather) %}
        <p class="uk-text-center">
            <span>Météo : {{ weather.name("fr") }}</span>
        </p>



        {% when GameEvent::BuyInducement { team_id: team_id, inducement: inducement, .. } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Achat du coup de pouce : {{ inducement.name("fr") }}</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Achat du coup de pouce : {{ inducement.name("fr") }}</span>
        </p>
        {% endif %}



        {% when GameEvent::PrayerToNuffle { team_id: team_id, prayer_to_nuffle: prayer_to_nuffle } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Prière à Nuffle : {{ prayer_to_nuffle.name("fr") }}</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Prière à Nuffle : {{ prayer_to_nuffle.name("fr") }}</span>
        </p>
        {% endif %}



        {% when GameEvent::TossWinner { team_id: team_id } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>A gagné le pile ou face</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>A gagné le pile ou face</span>
        </p>
        {% endif %}



        {% when GameEvent::KickingTeam { team_id: team_id } %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Fin de la séquence d'avant match</span>
        </h4>
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>Botte le coup d'envoi</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>Botte le coup d'envoi</span>
        </p>
        {% endif %}



        {% when GameEvent::Injury { team_id: team_id, player_id: player_id, injury: injury } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">

            {% if let Some((number, player)) = game.first_team.player_by_id(player_id.clone()) %}
            <span>#{{ number }} - {{ player.position.name("fr") }}</span>
            <span class="uk-visible@m"> - {{ player.name }}</span>
            <span> : {{ injury.name("fr") }}</span>
            {% endif %}
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">

            {% if let Some((number, player)) = game.second_team.player_by_id(player_id.clone()) %}
            <span>#{{ number }} - {{ player.position.name("fr") }}</span>
            <span class="uk-visible@m"> - {{ player.name }}</span>
            <span> : {{ injury.name("fr") }}</span>
            {% endif %}
        </p>
        {% endif %}



        {% when GameEvent::Success { team_id: team_id, player_id: player_id, success: success, star_player_points: star_player_points } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">

            {% if let Some((number, player)) = game.first_team.player_by_id(player_id.clone()) %}
            <span>#{{ number }} - {{ player.position.name("fr") }}</span>
            <span class="uk-visible@m"> - {{ player.name }}</span>
            <span> : +1 {{ success.name("fr") }} (+{{ star_player_points }} PSP)</span>
            {% endif %}
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">

            {% if let Some((number, player)) = game.second_team.player_by_id(player_id.clone()) %}
            <span>#{{ number }} - {{ player.position.name("fr") }}</span>
            <span class="uk-visible@m"> - {{ player.name }}</span>
            <span> : +1 {{ success.name("fr") }} (+{{ star_player_points }} PSP)</span>
            {% endif %}
        </p>
        {% endif %}



        {% when GameEvent::GameEnd %}
        <h4 class="uk-heading-line uk-text-center uk-margin-large-top">
            <span>Fin du match</span>
        </h4>



        {% when GameEvent::Winnings { team_id: team_id, earned_money: earned_money } %}
        {% if game.first_team.id.eq(team_id.into()) %}
        <p class="uk-text-left">
            <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
            <span>{{ earned_money / 1000 }}k gagnés</span>
        </p>
        {% else %}
        <p class="uk-text-right">
            <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
            <span>{{ earned_money / 1000 }}k gagnés</span>
        </p>
        {% endif %}



        {% when _ %}
        <p>
            {{ format!("{:?}", event) }}
        </p>

        {% endmatch %}
    {% endfor %}
    </div>
</div>