<div>
    {% if game.fans().is_none() %}
    <div class="uk-margin-medium-top">
        <h3 class="uk-width-1-1 uk-heading-divider">
            Fans
        </h3>

        <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
            <input name="game_id"
                   type="hidden"
                   value="{{ game.id }}">

            <fieldset class="uk-fieldset" uk-grid>
                <div class="uk-width-1-2 uk-text-left">
                    <label class="uk-form-label">
                        <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                        <span class="uk-hidden@m" uk-tooltip="title: Facteur de popularité"> FP ?</span>
                        <span class="uk-visible@m"> Facteur de popularité ?</span>
                    </label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="number" name="first_team_fan_factor" placeholder="D3 + fans dévoués" aria-label="">
                    </div>
                </div>

                <div class="uk-width-1-2 uk-text-right">
                    <label class="uk-form-label">
                        <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                        <span class="uk-hidden@m" uk-tooltip="title: Facteur de popularité"> FP ?</span>
                        <span class="uk-visible@m"> Facteur de popularité ?</span>
                    </label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="number" name="second_team_fan_factor" placeholder="D3 + fans dévoués" aria-label="">
                    </div>
                </div>

                <div class="uk-width-1-1 uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                </div>
            </fieldset>

            <button class="uk-button uk-button-primary">
                Valider
            </button>
        </form>
    </div>

    {% else if game.weather().is_none() %}
    <div class="uk-margin-medium-top">
        <h3 class="uk-width-1-1 uk-heading-divider">
            Météo
        </h3>

        <div class="uk-margin-medium-top">
            {{ weather_controller|escape("none") }}
        </div>
    </div>

    {% else if ! game.journeymen_ok() %}
    <div class="uk-margin-medium-top">
        <h3 class="uk-width-1-1 uk-heading-divider">
            Journaliers
        </h3>

        <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
            <input name="game_id"
                   type="hidden"
                   value="{{ game.id }}">

            <input name="generate_journeymen"
                   type="hidden"
                   value="true">

            <button class="uk-button uk-button-primary">
                Compléter les équipes
            </button>
        </form>
    </div>

    {% else %}

    {% if game.toss_winner().is_none() %}
    <div class="uk-margin-medium-top">
        <h3 class="uk-width-1-1 uk-heading-divider">
            Coups de pouce
        </h3>
    </div>

    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
        <dl class="uk-description-list uk-text-left">
            <dt>
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                <span> Trésorerie</span>
            </dt>
            <dd>
                {% if 0.eq(first_team_money.treasury) %}
                <span>0 🪙</span>
                {% else %}
                <span>{{ first_team_money.treasury / 1000 }}k 🪙</span>
                {% endif %}
            </dd>

            <dt>
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                <span> Petite monnaie</span>
            </dt>
            <dd>
                {% if 0.eq(first_team_money.petty_cash) %}
                <span>0 🪙</span>
                {% else %}
                <span>{{ first_team_money.petty_cash / 1000 }}k 🪙</span>
                {% endif %}
            </dd>
        </dl>

        <dl class="uk-description-list uk-text-right">
            <dt>
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                <span> Trésorerie</span>
            </dt>
            <dd>
                {% if 0.eq(second_team_money.treasury) %}
                <span>0 🪙</span>
                {% else %}
                <span>{{ second_team_money.treasury / 1000 }}k 🪙</span>
                {% endif %}
            </dd>

            <dt>
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                <span> Petite monnaie</span>
            </dt>
            <dd>
                {% if 0.eq(second_team_money.petty_cash) %}
                <span>0 🪙</span>
                {% else %}
                <span>{{ second_team_money.petty_cash / 1000 }}k 🪙</span>
                {% endif %}
            </dd>
        </dl>
    </div>

    <div class="uk-child-width-1-2" uk-grid>
        <div class="uk-text-left">
            <form method="post" autocomplete="off" class=" uk-margin-medium-top uk-form-stacked">
                <input name="game_id"
                       type="hidden"
                       value="{{ game.id }}">

                <label class="uk-form-label">
                    <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                    <span>Coup de pouce ?</span>
                </label>
                <div class="uk-form-controls">
                    <select class="uk-select" name="first_team_inducement" aria-label="">
                        {% for inducement in first_team_buyable_inducements %}
                        <option value="{{ serde_json::to_string(&inducement)? }}">
                            {{ inducement.name("fr") }} - {{ inducement.price_for_team(game.first_team) / 1000 }}k
                        </option>
                        {% endfor %}
                    </select>
                </div>

                {% if first_team_buyable_inducements.len() > 0 %}
                <button class="uk-button uk-button-primary uk-margin-top">
                    Ajouter
                </button>
                {% endif %}
            </form>
        </div>

        <div class="uk-text-right">
            <form method="post" autocomplete="off" class=" uk-margin-medium-top uk-form-stacked">
                <input name="game_id"
                       type="hidden"
                       value="{{ game.id }}">

                <label class="uk-form-label">
                    <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                    <span>Coup de pouce ?</span>
                </label>
                <div class="uk-form-controls">
                    <select class="uk-select" name="second_team_inducement" aria-label="">
                        {% for inducement in second_team_buyable_inducements %}
                        <option value="{{ serde_json::to_string(&inducement)? }}">
                            {{ inducement.name("fr") }} - {{ inducement.price_for_team(game.second_team) / 1000 }}k
                        </option>
                        {% endfor %}
                    </select>
                </div>

                {% if second_team_buyable_inducements.len() > 0 %}
                <button class="uk-button uk-button-primary uk-margin-top">
                    Ajouter
                </button>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="uk-margin-medium-top">
        <h3 class="uk-width-1-1 uk-heading-divider">
            Prières à Nuffle
        </h3>
    </div>

    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
        <dl class="uk-description-list uk-text-left">
            <dt>
                <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                <span class="uk-hidden@m" uk-tooltip="title: Valeur d'Equipe Actuelle Recalculée"> VEAR</span>
                <span class="uk-visible@m"> Valeur d'équipe actuelle recalculée</span>
            </dt>
            <dd>{{ first_team_recalculated_value / 1000 }}k</dd>
        </dl>

        <dl class="uk-description-list uk-text-right">
            <dt>
                <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                <span class="uk-hidden@m" uk-tooltip="title: Valeur d'Equipe Actuelle Recalculée"> VEAR</span>
                <span class="uk-visible@m"> Valeur d'équipe actuelle recalculée</span>
            </dt>
            <dd>{{ second_team_recalculated_value / 1000 }}k</dd>
        </dl>
    </div>

    <div class="uk-child-width-1-2" uk-grid>
        <div class="uk-text-left">
            <form method="post" autocomplete="off" class=" uk-margin-medium-top uk-form-stacked">
                <input name="game_id"
                       type="hidden"
                       value="{{ game.id }}">

                <fieldset class="uk-fieldset">
                    <label class="uk-form-label">
                        <img src="{{ TeamLogo::from(game.first_team).url }}" width="30" height="30" alt="">
                        <span>Prières à Nuffle ?</span>
                    </label>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="first_team_prayer" aria-label="">
                            {% for prayer in PrayerToNuffle::list(game.version) %}
                            <option value="{{ prayer.type_name() }}">
                                {{ prayer.name("fr") }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                    </div>
                </fieldset>

                <button class="uk-button uk-button-primary uk-margin-top">
                    Ajouter
                </button>
            </form>
        </div>

        <div class="uk-text-right">
            <form method="post" autocomplete="off" class=" uk-margin-medium-top uk-form-stacked">
                <input name="game_id"
                       type="hidden"
                       value="{{ game.id }}">

                <fieldset class="uk-fieldset">
                    <label class="uk-form-label">
                        <img src="{{ TeamLogo::from(game.second_team).url }}" width="30" height="30" alt="">
                        <span>Prières à Nuffle ?</span>
                    </label>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="second_team_prayer" aria-label="">
                            {% for prayer in PrayerToNuffle::list(game.version) %}
                            <option value="{{ prayer.type_name() }}">
                                {{ prayer.name("fr") }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                    </div>
                </fieldset>

                <button class="uk-button uk-button-primary uk-margin-top">
                    Ajouter
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="uk-margin-medium-top">
        <h3 class="uk-width-1-1 uk-heading-divider">
            Pile ou face pour le coup d'envoi
        </h3>

        {% if game.toss_winner().is_none() %}
        <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
            <input name="game_id"
                   type="hidden"
                   value="{{ game.id }}">

            <fieldset class="uk-fieldset">
                <label class="uk-form-label">Qui gagne le pile ou face ?</label>
                <div class="uk-form-controls">
                    <select class="uk-select" name="toss_winner" aria-label="">
                        <option value="{{ game.first_team.id }}">{{ game.first_team.name }}</option>
                        <option value="{{ game.second_team.id }}">{{ game.second_team.name }}</option>
                    </select>
                </div>

                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-checkbox" type="checkbox" name="auto" value="true">Automatique</label>
                </div>
            </fieldset>

            <button class="uk-button uk-button-primary">
                Valider
            </button>
        </form>

        {% else %}
        <form method="post" autocomplete="off" class="uk-margin-medium-top uk-form-stacked">
            <input name="game_id"
                   type="hidden"
                   value="{{ game.id }}">

            <label class="uk-form-label">Qui botte le coup d'envoi ?</label>
            <div class="uk-form-controls">
                <select class="uk-select" name="kicking_team" aria-label="">
                    <option value="{{ game.first_team.id }}">{{ game.first_team.name }}</option>
                    <option value="{{ game.second_team.id }}">{{ game.second_team.name }}</option>
                </select>
            </div>

            <button class="uk-button uk-button-primary uk-margin-top">
                Valider
            </button>
        </form>
        {% endif %}
    </div>
    {% endif %}
</div>