<li>
    <a class="uk-accordion-title" href>
        <img src="{{ TeamLogo::from(team.clone()).url }}" width="40" height="40" alt="">
        {{ team.name }}
    </a>
    <div class="uk-accordion-content">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Poste</th>
                    <th>Blessure</th>
                    {% if Keyword::list(game.version).len() > 0 %}
                    <th>Haine</th>
                    {% endif %}
                    <th>Expulsion</th>
                    <th uk-tooltip="title: Passe précise receptionnée">PAS</th>
                    <th uk-tooltip="title: Lancer superbe d'un coéquipier qui a attérit sur ses pieds">LAN</th>
                    <th uk-tooltip="title: Détournement de passe">DET</th>
                    <th uk-tooltip="title: Interception">INT</th>
                    <th uk-tooltip="title: Elimination lors d'un blocage">ELI</th>
                    <th uk-tooltip="title: Touchdown">TD</th>
                    <th uk-tooltip="title: Points de Star Player">PSP</th>
                </tr>
                </thead>

                <tbody>
                {% for (number, player) in team.players %}
                <tr>
                    <td>{{ number }}</td>
                    <td>{{ player.position.name("fr") }}</td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <div class="uk-flex-inline">
                                <select class="uk-select uk-width-small" name="injury" aria-label="">
                                    {% for injury in Injury::list(team.version) %}
                                    <option value="{{ injury.type_name() }}">
                                        {{ injury.name("fr") }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <button class="uk-button uk-button-default uk-button-small">+</button>
                            </div>
                        </form>
                    </td>
                    {% if Keyword::list(game.version).len() > 0 %}
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <div class="uk-flex-inline">
                                <select class="uk-select uk-width-small" name="hatred" aria-label="">
                                    {% for keyword in player.available_hatred_names("fr") %}
                                    <option value="{{ keyword.type_name() }}">
                                        {{ keyword.name("fr") }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <button class="uk-button uk-button-default uk-button-small">+</button>
                            </div>
                        </form>
                    </td>
                    {% endif %}
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="sent_off" type="hidden" value="true">
                            <button class="uk-button uk-button-default uk-button-small">Expulsé</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::PassingCompletion.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+PAS</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::ThrowingCompletion.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+LAN</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::Deflection.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+DET</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::Interception.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+INT</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::Casualty.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+ELI</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::Touchdown.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+TD</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" autocomplete="off">
                            <input name="game_id" type="hidden" value="{{ game.id }}">
                            <input name="team_id" type="hidden" value="{{ team.id }}">
                            <input name="player_id" type="hidden" value="{{ player.id }}">
                            <input name="success" type="hidden" value="{{ Success::StarPlayerPoint.type_name() }}">
                            <button class="uk-button uk-button-default uk-button-small">+PSP</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</li>