{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}
<h2>
    Campagnes
</h2>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Jeu</th>
            <th>Maître de jeu</th>
        </tr>
        </thead>

        <tbody>
        {% for campaign in campaigns %}
        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="/role_playing_games/campaigns/campaign?id={{ campaign.id }}">
                    {{ campaign.name }}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="/role_playing_games/campaigns/campaign?id={{ campaign.id }}">
                    {{ campaign.game_name }}

                    {% if let Some(external_logo_url) = campaign.game_external_logo_url %}
                    <img src="{{ external_logo_url }}" width="75" height="75" alt="">
                    {% endif %}
                </a>
            </td>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="/role_playing_games/campaigns/campaign?id={{ campaign.id }}">
                    {% if let Some(game_master_name) = campaign.game_master_name %}
                    {{ game_master_name }}
                    {% else %}
                    <span>Personne</span>
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ add_new_campaign_button|escape("none") }}

{% endblock %}