{% extends "page_base.html" %}

{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}

{% block breadcrumb %}
{{ breadcrumb|escape("none") }}
{% endblock %}

{% block body %}

<div class="uk-grid-small uk-flex-middle uk-margin-medium-bottom">
    <div class="uk-width-expand">
        <h2 class="uk-margin-remove-bottom">
            {% if edit_mode && field_edited.eq("name") %}
            <form method="post" autocomplete="off">
                <input type="hidden" name="id" value="{{ session.id }}">
                <input type="hidden" name="tab_name" value="{{ tab_name }}">

                <div>
                    <input class="uk-input uk-form-width-large"
                           id="name"
                           name="name"
                           type="text"
                           value="{{ session.name }}"
                           placeholder="Nom de la session de jeu..."
                           aria-label="">

                    <a href="session?id={{ session.id }}&tab_name={{ tab_name }}" uk-icon="icon: close"></a>
                    <button class="uk-button uk-button-link" type="button" onclick="submit()">
                        <span uk-icon="icon: check"></span>
                    </button>
                </div>
            </form>

            {% elif editable %}
            <a class="uk-link-reset" href="session?id={{ session.id }}&tab_name={{ tab_name }}&edit=true&field_edited=name">
                {{ session.indexed_name() }}
            </a>
            <a href="session?id={{ session.id }}&tab_name={{ tab_name }}&edit=true&field_edited=name" uk-icon="icon: pencil"></a>

            {% else %}
            {{ session.indexed_name() }}
            {% endif %}
        </h2>

        <p class="uk-margin-remove-top">
            <a class="uk-link-reset" href="/role_playing_games/campaigns/campaign?id={{ campaign.id }}&tab_name=sessions">
                {{ campaign.name }}
            </a>
        </p>
    </div>
</div>

{% if ! edit_mode %}
<div class="uk-margin-medium-bottom">
    {{ session_pagination|escape("none") }}
</div>
{% endif %}

{% if editable %}
<div class="uk-margin-medium-bottom">
    <ul class="uk-child-width-expand" uk-tab>
        <li {% if tab_name.eq("info") %}class="uk-active"{% endif %}>
        <a href="session?id={{ session.id }}&tab_name=info" uk-icon="icon: info">
            <span class="uk-visible@m">Informations</span>
        </a>
        </li>

        <li {% if tab_name.eq("notes") %}class="uk-active"{% endif %}>
        <a href="session?id={{ session.id }}&tab_name=notes" uk-icon="icon: file-edit">
            <span class="uk-visible@m">Notes</span>
        </a>
        </li>
    </ul>
</div>
{% endif %}

{% if tab_name.eq("info") || ! editable %}
<div>
    {% if editable || session.external_image_url.is_some() || session_date_input.is_some() || session.description.len() > 0 %}

    {% if editable %}
    <h3 class="uk-heading-divider">
        <span>Informations sur la session</span>

        {% if ! field_edited.eq("info") %}
        <a href="session?id={{ session.id }}&tab_name=info&edit=true&field_edited=info" uk-icon="icon: pencil"></a>
        {% endif %}
    </h3>
    {% endif %}

    <div>
        {% if edit_mode && field_edited.eq("info") %}
        <form method="post" autocomplete="off" class="uk-form-stacked">
            <input type="hidden" name="id" value="{{ session.id }}">
            <input type="hidden" name="tab_name" value="info">

            <div class="uk-margin">
                <label class="uk-form-label" for="external_image_url">Url de l'image</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large"
                           id="external_image_url"
                           name="external_image_url"
                           type="url"

                           {% if let Some(external_image_url) = session.external_image_url %}
                           value="{{ external_image_url }}"
                           {% endif %}

                           placeholder="Url de l'image..."
                           aria-label="">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="external_image_url">Date</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-large"
                           id="session_date_input"
                           name="session_date_input"
                           type="datetime-local"

                           {% if let Some(session_date_input) = session_date_input %}
                           value="{{ session_date_input }}"
                           {% endif %}

                           aria-label="">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="description">Description</label>
                <div class="uk-form-controls">
                    <textarea class="rich_text_zone"
                              id="description"
                              name="description"
                              placeholder="Description..."
                              aria-label="">
                        {{ session.description }}
                    </textarea>
                </div>
            </div>

            <div class="uk-margin-top">
                <a class="uk-button uk-button-default" href="session?id={{ session.id }}&tab_name={{ tab_name}}">Annuler</a>

                <button class="uk-button uk-button-primary uk-margin-left"
                        type="button"
                        onclick="submit()">
                    Sauvegarder
                </button>
            </div>
        </form>

        {% else %}

        {% if let Some(external_image_url) = session.external_image_url %}
        <img src="{{ external_image_url }}" class="uk-float-left uk-margin-right uk-margin-bottom" width="50%" alt="">
        {% endif %}

        {% if let Some(session_date) = session_date %}
        <p>{{ session_date }}</p>
        {% endif %}

        <p>{{ session.description|escape("none") }}</p>

        {% endif %}
    </div>
    {% endif %}

    <h3 class="uk-heading-divider uk-margin-medium-top">
        Personages
    </h3>
    {% if characters.len() > 0 %}
    <div class="uk-overflow-auto uk-margin-top">
        <table class="uk-table uk-table-striped uk-table-small uk-table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Joueur</th>

                {% if editable %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for character in characters %}
            <tr>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="/role_playing_games/characters/character?id={{ character.id }}">
                        {{ character.name }}
                    </a>
                </td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="/role_playing_games/characters/character?id={{ character.id }}">
                        {% if let Some(user_name) = character.user_name %}
                        {{ user_name }}
                        {% else %}
                        <span>Personne</span>
                        {% endif %}
                    </a>
                </td>

                {% if editable %}
                <td>
                    <div class="uk-flex-inline">
                        <form action="./unlink_character_from_session" method="post" autocomplete="off">
                            <input name="session_id" type="hidden" value="{{ session.id }}">
                            <input name="character_to_unlink_id" type="hidden" value="{{ character.id }}">

                            <button class="uk-button uk-button-link"
                                    type="button"
                                    uk-toggle="target: #modal-unlink-character-{{ character.id }}"
                                    onclick="submit()">
                                <span uk-icon="icon: minus-circle"></span>
                            </button>
                        </form>
                    </div>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <span>Aucun</span>
    {% endif %}

    {% if editable %}
    <div class="uk-margin-top">
        <form id="link_character_form" action="./link_character_to_session" method="post" autocomplete="off">
            <input name="session_id" type="hidden" value="{{ session.id }}">
            <input id="character_to_link_id" name="character_to_link_id" type="hidden">

            <button class="uk-button uk-button-primary"
                    type="button"
                    uk-toggle="target: #modal-link-character">Ajouter un personnage</button>

            <div id="modal-link-character" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <h2 class="uk-modal-title">Ajouter un personnage</h2>
                    <p>Quel personnage souhaitez-vous ajouter à la session ?</p>
                    <p>{{ character_selector|escape("none") }}</p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                        <button class="uk-button uk-button-danger"
                                onclick="document.getElementById('link_character_form').submit()">
                            Ajouter
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% elif tab_name.eq("notes") && editable %}
<div>
    <h3 class="uk-heading-divider">
        <span>Notes privées</span>
        {% if editable && ! field_edited.eq("notes") %}
        <a href="session?id={{ session.id }}&tab_name=notes&edit=true&field_edited=notes" uk-icon="icon: pencil"></a>
        {% endif %}
    </h3>

    <div>
        {% if edit_mode && field_edited.eq("notes") %}
        <form method="post" autocomplete="off" class="uk-form-stacked">
            <input type="hidden" name="id" value="{{ session.id }}">
            <input type="hidden" name="tab_name" value="notes">

            <div class="uk-margin">
                <div class="uk-form-controls">
                    <textarea class="rich_text_zone"
                              id="notes"
                              name="notes"
                              placeholder="Notes..."
                              aria-label="">
                        {{ session.notes }}
                    </textarea>
                </div>
            </div>

            <div class="uk-margin-top">
                <a class="uk-button uk-button-default" href="session?id={{ session.id }}&tab_name={{ tab_name}}">Annuler</a>

                <button class="uk-button uk-button-primary uk-margin-left"
                        type="button"
                        onclick="submit()">
                    Sauvegarder
                </button>
            </div>
        </form>

        {% else %}
        <div class="uk-overflow-auto">
            {{ session.notes|escape("none") }}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if ! edit_mode %}
<div class="uk-margin-medium-top">
    {{ session_pagination|escape("none") }}
</div>
{% endif %}

{% if deletable %}
<div class="uk-margin-medium-top">
    <form id="delete_form" action="./delete_session" method="post" autocomplete="off">
        <input name="id" type="hidden" value="{{ session.id }}">
        <input name="campaign_id" type="hidden" value="{{ session.campaign_id }}">

        <button class="uk-button uk-button-danger"
                type="button"
                uk-toggle="target: #modal-delete">Supprimer</button>

        <div id="modal-delete" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <h2 class="uk-modal-title">Suppression de la session en cours</h2>
                <p>Confirmez-vous la suppression de la session de jeu ?</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                    <button class="uk-button uk-button-danger"
                            onclick="document.getElementById('delete_form').submit()">
                        Confirmer
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}